/* Typography elements */

/** define characteristics of heading text **/
h1, h2, h3, h4, h5, h6 {
    color: var(--text-stronger);
    font-weight: var(--weight-semibold);
    margin: 0 0 var(--mar-vert-large) 0;
    padding: 0;
}


h1 {font-size: var(--size-1);}
h2 {font-size: var(--size-2);}
h3 {font-size: var(--size-3);}
h4 {font-size: var(--size-4);}
h5 {font-size: var(--size-5);}
h6 {font-size: var(--size-6);}


/* standalone titles */
.text {
    color: var(--text-stronger);
    font-size: var(--size-2);
    font-weight: var(--weight-semibold);
    line-height: var(--line-height-125);
}

.subtext {
    color: var(--text-lighter);
    font-size: var(--size-3);
    font-weight: var(--weight-normal);
    line-height: var(--line-height-125);
}

.text,
.subtext {
    word-break: break-word;
}

.text:not(.is-spaced) + .subtext {
    margin-top: var(--mar-neg-125);
}


/* define font families */
.is-family-primary {
    font-family: var(--family-sans-serif) !important;
}

.is-family-secondary {
    font-family: var(--family-serif) !important;
}

.is-family-sans-serif {
    font-family: var(--family-sans-serif) !important;
}

.is-family-monospace {
    font-family: var(--family-monospace) !important;
}

.is-family-code {
    font-family: var(--family-monospace) !important;
}

/* sets font-size is any elemet */
.is-size-1 {
    font-size: var(--size-1) !important;
}

.is-size-2 {
    font-size: var(--size-2) !important;
}

.is-size-3 {
    font-size: var(--size-3) !important;
}

.is-size-4 {
    font-size: var(--size-4) !important;
}

.is-size-5 {
    font-size: var(--size-5) !important;
}

.is-size-6 {
    font-size: var(--size-6) !important;
}

.is-size-7 {
    font-size: var(--size-7) !important;
}


/** define text modifiers **/
.has-text-centered {
    text-align: center !important;
}

.has-text-left {
    text-align: left !important;
}

.has-text-right {
    text-align: right !important;
}

.has-text-justified {
    text-align: justify !important;
}


.is-capitalized {
    text-transform: capitalize !important;
}

.is-lowercase {
    text-transform: lowercase !important;
}

.is-uppercase {
    text-transform: uppercase !important;
}

.is-italic {
    font-style: italic !important;
}

.has-text-weight-light {
    font-weight: var(--weight-light) !important;
}

.has-text-weight-normal {
    font-weight: var(--weight-normal) !important;
}

.has-text-weight-medium {
    font-weight: var(--weight-medium) !important;
}

.has-text-weight-semibold {
    font-weight: var(--weight-semibold) !important;
}

.has-text-weight-bold {
    font-weight: var(--weight-bold) !important;
}


/* define text colours */
.has-text-primary {
    color: var(--primary);
    background-color: var(--bg-main);
}

.has-text-secondary {
    color: var(--secondary);
    background-color: var(--bg-main);
}

.has-text-link {
    color: var(--link);
    background-color: var(--bg-main);
}

.has-text-info {
    color: var(--info);
    background-color: var(--bg-main);
}

.has-text-success {
    color: var(--success);
    background-color: var(--bg-main);
}

.has-text-warning {
    color: var(--warning);
    background-color: var(--bg-main);
}

.has-text-danger {
    color: var(--danger);
    background-color: var(--bg-main);
}

.has-text-white {
    color: var(--bg-main);
    background-color: var(--grey-darker);
}

.has-text-black {
    color: var(--bg-main-invert-bis);
    background-color: var(--bg-main);
}

.has-text-light {
    color: var(--white-ter);
    background-color: var(--grey);
}

.has-text-dark {
    color: var(--grey-darker);
    background-color: var(--bg-main);
}
