/* Accordion styles */
.accordians {
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: var(--shadow);
    padding: 0;
    margin: var(--mar-vert-large) 0;
}

.accordians.is-expander {
    box-shadow: none;
}

.accordian {
    width: 100%;
    color: var(--text);
    background: var(--bg-main-bis);
    overflow: hidden;
    padding: 0;
    margin: 0;
    text-indent: 0;
    list-style: none;
}

.accordians.is-expander .accordian {
    background: var(--bg-main);
}

.accordian-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: inherit;
    font-weight: bold;
    cursor: pointer;
}

.accordian-label:hover {
    background: inherit;
    color: inherit;
    filter: invert(10%);
}

.accordian-label::after {
    content: "❯";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
}


.accordians.is-expander .accordian-label {
    background-color: var(--bg-main);
    filter: invert(0%);

    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: inherit;
}

.accordians.is-expander .accordian-label:hover {
    background-color: var(--bg-main-ter);
}


.accordian-content {
    max-height: 0;
    padding: 0 1em;
    color: var(--text);
    background: var(--bg-main);
    transition: all 0.35s;
}
.accordian-close {
    display: flex;
    justify-content: flex-end;
    padding: var(--padding);
    font-size: var(--size-7);
    background: var(--bg-main-bis);
    cursor: pointer;
}
.accordian-close:hover {
    background: var(--grey-lighter);
    color: var(--text-stronger);
}

input:checked + .accordian-label {
    background: inherit;
    color: inherit;
}
input:checked + .accordian-label::after {
    transform: rotate(90deg);
}
input:checked ~ .accordian-content {
    max-height: 100vh;
    padding: 1em;
}
