.tabs-vert {

    display: grid;
    grid-template-columns:  minmax(100px, 1fr) minmax(100px, 1fr) minmax(400px, 5fr);

    grid-column: 2;
    grid-row: 1 / -1;


    /*grid-template-rows: repeat(8, 1fr);*/

    /*grid-column: 2 / -1;*/

    /*grid-row: auto;*/

    /*grid-auto-flow: row dense;*/


    /*
    grid-template-areas:
				"t-1 t-2 t-3 t-4 t-5 t-6 t-7 t-8 t-9"
				"ver ver ver ver ver ver ver ver ver";

     */

    /*
    overflow: hidden;
    margin: var(--mar-vert-large) 0;

     */
}


/* maintain semantic html structure for screen readers */
.tabs-vert > article h2 {
    position:absolute;
    top:-999em;
    left:-999em;
}

.tabs-vert > label,
.tabs-vert > article {
    padding: var(--padding);
    cursor: pointer;
}

input:checked + label {
    background-color: antiquewhite;
}

input:not(checked) ~ .item:nth-of-type(2) {
    opacity: 0;
}

input:checked ~ .item:nth-of-type(2) {
    opacity: 1;
}







/*
.tabs-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 2fr;
    grid-template-areas:
				"t-1 t-2 t-3 t-4 t-5 t-6 t-7 t-8 t-9"
				"ver ver ver ver ver ver ver ver ver";

    overflow: hidden;
    margin: var(--mar-vert-large) 0;
}


.tabs-grid > article {
    border-top: 1px solid var(--border-main);
    margin-top: -1px;
}

 */

/* maintain semantic html structure for screen readers */

/*
.tabs-grid > article h2 {
    position:absolute;
    top:-999em;
    left:-999em;
}

[for*='-item1'] { grid-area: t-1; }
[for*='-item2'] { grid-area: t-2; }
[for*='-item3'] { grid-area: t-3; }
[for*='-item4'] { grid-area: t-4; }
[for*='-item5'] { grid-area: t-5; }
[for*='-item6'] { grid-area: t-6; }
[for*='-item7'] { grid-area: t-7; }
[for*='-item8'] { grid-area: t-8; }
[for*='-item9'] { grid-area: t-9; }

:checked + label + article {
    grid-area: ver;
}

[class*='tabgrid-'] {
    opacity: 0;
    max-width: 0;
    max-height: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: -5000px;
}

:checked + label + [class*='tabgrid-'] {
    opacity: 1;
    max-width: 100%;
    max-height: 100vh;
    grid-column: 1 / 9;
    padding: var(--padding);
    margin-left: 0;
}

label {
    cursor: pointer;
    text-align: center;
}
label:hover {
    background-color: var(--bg-main-ter);
}

input:not(checked) + label {
    border-bottom: 1px solid var(--border-main-darker);
}

input:checked + label {
    border-bottom: 1px solid var(--link);
    color: var(--link);
    z-index: 3;
}

.hide {
    display: none;
}


.tabs-grid.is-boxed input:checked + label {
    padding: var(--pad-vert) var(--pad-horz-med);
    background-color: var(--bg-main);
    border-radius: var(--radius) var(--radius) 0 0;
    border: 1px solid var(--border-main-darker);
    border-bottom-color: var(--bg-main) !important;
}

*/


/*

.tabs-grid {
    display: grid;
    gap: var(--gutter);
    grid-template-columns: repeat( 9,  minmax(0, 1fr) );

    grid-template-rows: 25px 50px auto;

    justify-items: stretch;
}

.tabs-grid .tabs-radio {
    display:block; ** "enable" hidden elements in IE/edge **
    position:absolute; ** then hide them off-screen **
    left:-100%;
}

.tabs-grid .tabs-label {
    grid-column: 1 / 9;
}


.tabs-grid .tabs-label {
    font-size: 1rem;
}


.tabs-grid .tab-content {
    grid-column: 1 / 9;
}

.tabs-grid .tab-content > section,
.tabs-grid .tab-content > section h2 {
    position:absolute;
    top:-999em;
    left:-999em;
}

*/
