.box,
.box-shadow{
    background-color: var(--bg-component);
    color: var(--text);
    display: block;
    padding: var(--padding-normal);
    margin: 0;
    height: auto;
    width: calc( 100% - 2 * var(--padding-normal) );
}


.box-shadow {
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}
