---
layout: default
parent-tab: layout
---

<header>
    <h1>Grid Layout</h1>
</header>

<main class="main-content">

    <section class="row">

        <article class="column">
            <h2>Description</h2>

            <p>
                CSS flex box was designed for one-dimensional layout and manages content <u>flow</u>.
                This primarily allows control over spacing between elements.
                On the other hand, CSS grid provides two dimensional layout as well as primarily
                being concerned with content <u>placement!</u>
            </p>

            <p>
                <strong>Goldilocks-CSS</strong> uses grid to replace flexbox for one dimensional layout with much greater control.
                With grid, you can define the minimum content width and the grid will deal with adjusting widths to
                meet the placement requirements.
                This results in eliminating the need for using @media breakpoints to ensure proper content viewing.
            </p>

        </article>

        <article class="column">
            <h2>Commentary</h2>

            <p>
                Rather than trying to map your layout into a fixed grid (typically 12 columns and consequently spans thereof)
                think of your desired minimum content width first and let grid figure how to best display it for a given viewport.
            </p>

            <p>
                This then means that you only need to think about how many columns of content you require.
                Typically this would mean dividing the horizontal axis into half, thirds, fourths or fifths and spans thereof.
            </p>
        </article>

    </section>


    <h2>Examples</h2>

    <section>

        <article>
            <h3>.row.abs-width.has-3x-minwidth = 300px</h3>

            <section class="row abs-width has-3x-minwidth">

                <div class="column has-background">
                    <div class="is-centered">
                        item 1
                    </div>
                </div>

                <div class="column has-background">item 2</div>
                <div class="column has-background">item 3</div>
                <div class="column has-background">item 4</div>
                <div class="column has-background">item 5</div>
                <div class="column has-background">item 6</div>
                <div class="column has-background">item 7</div>
                <div class="column has-background">item 8</div>
                <div class="column has-background">item 9</div>
            </section>
        </article>

        <article>
            <section class="row abs-width has-3x-minwidth">
                <div class="column has-background">item 1</div>
                <div class="column has-background">item 2</div>
                <div class="column has-background">item 3</div>
            </section>

            <pre><code class="language-html">
&lt;section class="row abs-width has-3x-minwidth"&gt;
    &lt;div class="column has-background"&gt;item 1&lt;/div&gt;
    &lt;div class="column has-background"&gt;item 2&lt;/div&gt;
    &lt;div class="column has-background"&gt;item 3&lt;/div&gt;
&lt;/section&gt;
            </code></pre>

        </article>

    </section>

</main>
