@layer extras {

    .tooltip {
        position: relative;
    }

    .tooltip::after {
        background-color: var(--bg-main-invert);
        border-radius: calc(0.5 * var(--radius));
        bottom: 100%;
        color: var(--text-invert);
        content: attr(data-tooltip);
        display: block;
        font-size: var(--size-7);
        font-weight: var(--weight-normal);
        left: 50%;

        opacity: 0;
        overflow: hidden;
        padding: .2rem .4rem;
        pointer-events: none;
        position: absolute;
        text-overflow: ellipsis;
        transform: translate(-50%, 0.5rem);
        transition: opacity .2s, transform .2s;
        white-space: pre;
        max-width: 20rem;
        z-index: 300;
    }

    .tooltip[disabled],
    .tooltip.disabled {
        pointer-events: auto;
    }


    /** default - controls tooltip going up plus arrow **/
    .tooltip::before {
        content: "";
        opacity: 0;
        position: absolute;
        transform: translate(-50%, 0);
        transition: opacity .2s, transform .2s;
        top: 0;
        left: 50%;

        height: 0;
        width: 0;
        border-width: 0.5rem;
        border-style: solid;
        border-color: var(--bg-main-invert) transparent transparent transparent;
        z-index: 300;
    }

    .tooltip:focus::after,
    .tooltip:active::after,
    .tooltip:hover::after,
    .tooltip:focus::before,
    .tooltip:active::before,
    .tooltip:hover::before {
        opacity: 1;
        transform: translate(-50%, -.75rem);
    }


    /** controls tooltip going right plus arrow **/
    .tooltip.tooltip-right::before {
        bottom: 50%;
        right: auto;
        left: 100%;
        top: auto;
        transform: translate(-1.25rem, 50%);
        border-color: transparent var(--bg-main-invert) transparent transparent;
    }

    .tooltip.tooltip-right::after {
        left: 100%;
        bottom: 50%;
        transform: translate(-.25rem, 50%);
    }

    .tooltip.tooltip-right:focus::after,
    .tooltip.tooltip-right:hover::after {
        transform: translate(1.75rem, 50%);
    }

    .tooltip.tooltip-right:focus::before,
    .tooltip.tooltip-right:hover::before {
        transform: translate(0.75rem, 50%);
    }


    /** controls tooltip going left plus arrow **/
    .tooltip.tooltip-left::before {
        bottom: 50%;
        left: auto;
        right: 100%;
        transform: translate(1rem, 50%);
        border-color: transparent transparent transparent var(--bg-main-invert);
    }

    .tooltip.tooltip-left::after {
        bottom: 50%;
        left: auto;
        right: 100%;
        transform: translate(1.5rem, 50%);
    }

    .tooltip.tooltip-left:focus::after,
    .tooltip.tooltip-left:hover::after {
        transform: translate(-0.75rem, 50%);
    }

    .tooltip.tooltip-left:focus::before,
    .tooltip.tooltip-left:hover::before {
        transform: translate(0.25rem, calc(50% + 0.25rem));
    }


    /** controls tooltip going down plus arrow **/
    .tooltip.tooltip-bottom::before {
        bottom: auto;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -1rem);
        border-color: transparent transparent var(--bg-main-invert) transparent;
    }

    .tooltip.tooltip-bottom::after {
        bottom: auto;
        top: 100%;
        transform: translate(-50%, -.4rem);
    }

    .tooltip.tooltip-bottom:focus::after,
    .tooltip.tooltip-bottom:hover::after,
    .tooltip.tooltip-bottom:active::after {
        transform: translate(-50%, 0.75rem);
    }

    .tooltip.tooltip-bottom:focus::before,
    .tooltip.tooltip-bottom:hover::before,
    .tooltip.tooltip-bottom:active::before {
        transform: translate(-50%, -0.25rem);
    }

}
