.page-wrapper {
    display: grid;
    gap: 10px;
    grid-template-areas:
    "main-nav"
    "sidebar"
    "content"
    "footer";
}

.page-wrapper {
    grid-template-columns: auto 4fr;
    grid-template-areas:
      "main-nav  main-nav"
      "sidebar content"
      "footer footer";
}
nav ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

nav ul li {
    list-style: none;
    margin-bottom: 0.75rem;
}


.main-nav {
    grid-area: main-nav;
}

.sidenav {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

.main-footer {
    grid-area: footer;
}
