/* main theme color definitions */
:root {

    /* main theme colours */
    --primary: hsl( 171, 53%, 41%);
    --primary-light:  hsl( 171, 100%, 96%);
    --primary-dark: hsl( 171, 53%, 29% );

    --secondary: hsl( 271, 100%, 61% );
    --secondary-light:  hsl( 271, 100%, 91%);
    --secondary-dark: hsl( 271, 100%, 45% );

    --link: hsl(217, 71%, 53%);
    --link-light:  hsl(217, 70%, 93%);
    --link-dark: hsl(217, 71%, 45%);

    --info: hsl( 185, 71%, 53%);
    --info-light:  hsl(185, 70%, 93%);
    --info-dark: hsl(185, 71%, 35%);

    --success: hsl(141, 53%, 53%);
    --success-light:  hsl(141, 52%, 96%);
    --success-dark: hsl(141, 53%, 31%);

    --warning: hsl(48, 100%, 53%);
    --warning-light:  hsl(48, 100%, 91%);
    --warning-dark: hsl(48, 100%, 41%);

    --danger: hsl(348, 86%, 61%);
    --danger-light:  hsl(348, 90%, 96%);
    --danger-dark: hsl(348, 86%, 43%);

    /* other colours */
    --black: hsl(0, 0%, 4%);
    --black-bis: hsl(0, 0%, 7%);
    --black-ter: hsl(0, 0%, 14%);

    --grey-darker: hsl(0, 0%, 21%);
    --grey-dark: hsl(0, 0%, 34%);
    --grey: hsl(0, 0%, 48%);
    --grey-light: hsl(0, 0%, 71%);
    --grey-lighter: hsl(0, 0%, 86%);
    --grey-lightest: hsl(0, 0%, 93%);

    --white-ter: hsl(0, 0%, 96%);
    --white-bis: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);


    /* set the body level colours */
    --bg-main: var(--white);
    --bg-main-bis: var(--white-bis) ;
    --bg-main-ter: var(--white-ter) ;
    --bg-main-invert: var(--black);
    --bg-main-invert-bis: var(--black-bis);
    --bg-main-invert-ter: var(--black-ter);

    --border-main: var(--grey-lightest);
    --border-main-darker: var(--grey-lighter);
}
