<li class="sidenav">
    <input type="checkbox" id="config" {% if page.parent-tab == 'config' %}checked{% endif %}>
    <label class="sidenav-label" for="config">Core Config</label>
    <ul class="sidenav-content">
        <li><a href='{{site.url}}/pages/configs/base-html.html'>Base HTML Config</a></li>
        <li><a href='{{site.url}}/pages/configs/variables.html'>Variables</a></li>
        <li><a href='{{site.url}}/pages/configs/colors.html'>Colors</a></li>
    </ul>
</li>
