<nav class="navbar main-nav" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{site.url}}">
            <img src="{{site.url}}/img/goldi2-logo.png" alt="Project Logo">
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item">
                <p class="is-size-2 m-0">Goldilocks-CSS</p>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <button class="is-primary mr-3">
                    <a href="{{site.url}}#page-top">Download</a>
                </button>

                <button class="is-primary">
                    <a href="{{site.url}}#page-top">View on Github</a>
                </button>
            </div>
        </div>
    </div>
</nav>
