<li class="sidenav">
    <input type="checkbox" id="components" {% if page.parent-tab == 'components' %}checked{% endif %}>
    <label class="sidenav-label" for="components">Core Components</label>
    <ul class="sidenav-content">
        <li><a href="{{site.url}}/pages/components/navbar.html">Nav Bar</a></li>
        <li><a href="{{site.url}}/pages/components/form.html">Form</a></li>
        <li><a href="{{site.url}}/pages/components/breadcrumb.html">Breadcrumb</a></li>
    </ul>
</li>
