<div class="sidenav-block">
    <input type="checkbox" id="core-helpers" {% if page.parent-tab == 'core-helpers' %}checked{% endif %}>
    <label for="core-helpers">Core Helpers</label>
    <nav>
        <a href="{{site.url}}/pages/core-helpers/colours.html" class="{% if page.title == "Colour Palette" %}is-active{% endif %}">Colour Palette</a>
        <a href="{{site.url}}/pages/core-helpers/heights.html" class="{% if page.title == "Heights" %}is-active{% endif %}">Heights</a>
        <a href="{{site.url}}/pages/core-helpers/positions.html" class="{% if page.title == "Positions" %}is-active{% endif %}">Positions</a>
        <a href="{{site.url}}/pages/core-helpers/widths.html" class="{% if page.title == "Widths" %}is-active{% endif %}">Widths</a>
    </nav>
</div>
