<li class="sidenav">
    <input type="checkbox" id="helpers" {% if page.parent-tab == 'helpers' %}checked{% endif %}>
    <label class="sidenav-label" for="helpers">Core Helpers</label>
    <ul class="sidenav-content">
        <li><a href="{{site.url}}/pages/core-helpers/backgrounds.html">Backgrounds</a></li>
        <li><a href="{{site.url}}/pages/core-helpers/element-colors.html">Element Colors</a></li>
        <li><a href="{{site.url}}/pages/core-helpers/shadows.html">Shadows</a></li>
        <li><a href="{{site.url}}/pages/core-helpers/spacing.html">Spacing</a></li>
    </ul>
</li>
