<li class="sidenav">
    <input type="checkbox" id="elements" {% if page.parent-tab == 'elements' %}checked{% endif %}>
    <label class="sidenav-label" for="elements">Core Elements</label>
    <ul class="sidenav-content">
        <li><a href="{{site.url}}/pages/elements/buttons.html">Buttons</a></li>
        <li><a href="{{site.url}}/pages/elements/image.html">Image</a></li>
        <li><a href="{{site.url}}/pages/elements/table.html">Table</a></li>
        <li><a href="{{site.url}}/pages/elements/typography.html">Typography</a></li>
    </ul>
</li>
