/* buttons.css */

@layer elements {

    button, .button {
        font-size: 1rem;
        font-weight: var(--weight-semibold);
        line-height: 1.5;
        color: var(--text-btn-invert);

        padding: var(--pad-vert) calc(1.5 * var(--pad-horz));
        border: 1px solid var(--grey-dark);
        border-radius: 10rem;
        background-color: var(--grey-dark);
        box-shadow: none;

        display: inline-flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        cursor: pointer;
    }

    button:focus, .button:focus {
        outline: none;
    }


    a.button {
        height: auto;
        text-decoration: none;
    }

    button > a {
        color: inherit;
    }


    /** colour schemes **/

    /*** default button ***/
    .button-default,
    .button-default-outlined,
    .button-default-ghost {
        color: var(--grey-dark);
        background-color: var(--bg-main);
        border: 1px solid var(--grey-dark);
    }
    button:not(.has-no-hover):hover,
    .button:not(.has-no-hover):hover {
        color: var(--text-elem);
        background-color: var(--grey-light);
        border: 1px solid var(--grey-light);
    }

    button:not(.has-no-hover):active,
    .button:not(.has-no-hover):active {
        color: var(--bg-main);
        background-color: var(--bg-main-invert);
        border: 1px solid var(--bg-main-invert);
    }

    .button-default-outlined {
        color: var(--grey-darker);
        background-color: var(--bg-main);
        border: 1px solid var(--grey-darker);
    }

    .button-default-outlined:not(.has-no-hover):hover {
        color: var(--bg-main);
        background-color: var(--grey-dark);
        border: 1px solid var(--grey-dark);
    }

    .button-default-outlined:not(.has-no-hover):active {
        color: var(--bg-main);
        background-color: var(--bg-main-invert);
        border: 1px solid var(--bg-main-invert);
    }

    .button-default-ghost {
        color: var(--text-comp);
        border: none;
        text-decoration-color: var(--text-comp);
        text-decoration-line: underline;
        text-underline-offset: 0.25em;
        background-color: var(--bg-main);
    }

    .button-default-ghost:not(.has-no-hover):hover {
        color: var(--text-elem);
        text-decoration: underline var(--text-elem);
        background-color: var(--bg-component);
        border: none;
    }

    .button-default-ghost:not(.has-no-hover):active {
        color: var(--bg-main);
        text-decoration: underline var(--bg-main);
        background-color: var(--grey-dark);
        border: none;
    }


    /*** primary button ***/
    button.button-primary,
    .button.button-primary{
        color: var(--primary-ghost);
        background-color: var(--primary);
        border: 1px solid var(--primary);
    }

    button.button-primary:not(.has-no-hover):hover,
    .button.button-primary:not(.has-no-hover):hover {
        background-color: var(--primary-hover);
        border: 1px solid var(--primary-hover);
    }

    button.button-primary:not(.has-no-hover):active,
    .button.button-primary:not(.has-no-hover):active {
        background-color: var(--primary-active);
        border: 1px solid var(--primary-active);
    }

    button.button-primary-outlined,
    .button.button-primary-outlined {
        color: var(--primary);
        background-color: var(--bg-main);
        border: 1px solid var(--primary);
    }

    button.button-primary-outlined:not(.has-no-hover):hover,
    .button.button-primary-outlined:not(.has-no-hover):hover{
        background-color: var(--primary-hover);
        border: 1px solid var(--primary-hover);
    }

    button.button-primary-outlined:not(.has-no-hover):active,
    .button.button-primary-outlined:not(.has-no-hover):active{
        background-color: var(--primary-active);
        border: 1px solid var(--primary-active);
    }

    button.button-primary-ghost,
    .button.button-primary-ghost{
        color: var(--primary);
        text-decoration: underline var(--primary);
        text-underline-offset: 0.25em;
        background-color: var(--bg-main);
        border: none;
    }

    button.button-primary-ghost:not(.has-no-hover):hover,
    .button.button-primary-ghost:not(.has-no-hover):hover{
        color: var(--primary-hover);
        text-decoration: underline var(--primary-hover);
        text-underline-offset: 0.25em;
        background-color: var(--bg-component);
        border: none;
    }

    button.button-primary-ghost:not(.has-no-hover):active,
    .button.button-primary-ghost:not(.has-no-hover):active{
        color: var(--primary-active);
        text-decoration: underline var(--primary-active);
        background-color: var(--bg-element);
        border: none;
    }

    /*** secondary button ***/
    button.button-secondary,
    .button.button-secondary {
        color: var(--secondary-ghost);
        background-color: var(--secondary);
        border: 1px solid var(--secondary);
    }

    button.button-secondary:not(.has-no-hover):hover,
    .button.button-secondary:not(.has-no-hover):hover {
        background-color: var(--secondary-hover);
        border: 1px solid var(--secondary-hover);
    }

    button.button-secondary:not(.has-no-hover):active,
    .button.button-secondary:not(.has-no-hover):active {
        background-color: var(--secondary-active);
        border: 1px solid var(--secondary-active);
    }

    button.button-secondary-outlined,
    .button.button-secondary-outlined {
        color: var(--secondary);
        background-color: var(--bg-main);
        border: 1px solid var(--secondary);
    }

    button.button-secondary-outlined:not(.has-no-hover):hover,
    .button.button-secondary-outlined:not(.has-no-hover):hover{
        background-color: var(--secondary-hover);
        border: 1px solid var(--secondary-hover);
    }

    button.button-secondary-outlined:not(.has-no-hover):active,
    .button-secondary-outlined:not(.has-no-hover):active{
        background-color: var(--secondary-active);
        border: 1px solid var(--secondary-active);
    }

    button.button-secondary-ghost,
    .button.button-secondary-ghost {
        color: var(--secondary);
        text-decoration: underline var(--secondary);
        text-underline-offset: 0.25em;
        background-color: var(--bg-main);
        border: none;
    }

    button.button-secondary-ghost:not(.has-no-hover):hover,
    .button.button-secondary-ghost:not(.has-no-hover):hover{
        color: var(--secondary-hover);
        text-decoration: underline var(--secondary-hover);
        text-underline-offset: 0.25em;
        background-color: var(--bg-component);
        border: none;
    }

    button.button-secondary-ghost:not(.has-no-hover):active,
    .button.button-secondary-ghost:not(.has-no-hover):active{
        color: var(--secondary-active);
        text-decoration: underline var(--secondary-active);
        text-underline-offset: 0.25em;
        background-color: var(--bg-element);
        border: none;
    }


    /*** complement buttons ***/
    button.button-complement,
    .button.button-complement {
        color: var(--complement-ghost);
        background-color: var(--complement);
        border: 1px solid var(--complement);
    }

    button.button-complement:not(.has-no-hover):hover,
    .button.button-complement:not(.has-no-hover):hover {
        background-color: var(--complement-hover);
        border: 1px solid var(--complement-hover);
    }

    button.button-complement:not(.has-no-hover):active,
    .button.button-complement:not(.has-no-hover):active {
        background-color: var(--complement-active);
        border: 1px solid var(--complement-active);
    }

    button.button-complement-outlined,
    .button.button-complement-outlined {
        color: var(--complement);
        background-color: var(--bg-main);
        border: 1px solid var(--complement);
    }

    button.button-complement-outlined:not(.has-no-hover):hover,
    .button.button-complement-outlined:not(.has-no-hover):hover {
        background-color: var(--complement-hover);
        border: 1px solid var(--complement-hover);
    }

    button.button-complement-outlined:not(.has-no-hover):active,
    .button.button-complement-outlined:not(.has-no-hover):active{
        background-color: var(--complement-active);
        border: 1px solid var(--complement-active);
    }

    button.button-complement-ghost,
    .button.button-complement-ghost {
        color: var(--complement);
        text-decoration: underline var(--complement);
        text-underline-offset: 0.25em;

        background-color: var(--bg-main);
        border: none;
    }

    button.button-complement-ghost:not(.has-no-hover):hover,
    .button.button-complement-ghost:not(.has-no-hover):hover{
        color: var(--complement-hover);
        text-decoration: underline var(--complement-hover);
        text-underline-offset: 0.25em;
        background-color: var(--bg-component);
        border: none;
    }

    button.button-complement-ghost:not(.has-no-hover):active,
    .button.button-complement-ghost:not(.has-no-hover):active {
        color: var(--complement-active);
        text-decoration: underline var(--complement-active);
        text-underline-offset: 0.25em;
        background-color: var(--bg-element);
        border: none;
    }



    /** button shape and size **/
    button.is-rectangle,
    .button.is-rectangle {
        border-radius: var(--radius-elem);
    }

    button.is-large,
    .button.is-large,
    .buttons.are-large > button {
        font-size: var(--size-4);
    }

    button.is-medium,
    .button.is-medium,
    .buttons.are-medium > button {
        font-size: var(--size-5);
    }

    button.is-normal,
    .button.is-normal,
    .buttons.are-normal > button {
        font-size: var(--size-6);
    }

    button.is-small,
    .button.is-small,
    .buttons.are-small > button {
        font-size: var(--size-7);
        font-weight: var(--weight-medium);
        padding: var(--pad-vert-small) var(--pad-horz);
        line-height: 1.2;
        height: 2rem;
    }

    button.is-small.is-rectangle,
    .button.is-small.is-rectangle {
        border-radius: calc(var(--radius-elem) / 2);
    }

    button[disabled],
    .button[disabled] {
        opacity: 0.6;
        cursor: not-allowed;
        pointer-events: none;
    }


    /* group buttons */
    .buttons {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .buttons button:not(:last-child),
    .buttons .button:not(:last-child) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        margin-right: -1px;
    }

    .buttons button:not(:first-child),
    .buttons .button:not(:first-child) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    /** ensure that hover doesn't distort button size **/
    .button[class*="outlined"].is-small:not(.has-no-hover):hover {
        padding-top: calc(var(--pad-vert-small) + 1px);
        padding-bottom: calc(var(--pad-vert-small) + 1px);
    }

    button .icon:first-child,
    .button .icon:first-child {
        margin-left: calc(-0.25em - 1px);
        margin-right: 0.25em;
        font-size: 1em;
    }

    button .icon:last-child,
    .button .icon:last-child {
        margin-right: calc(-0.25em - 1px);
        margin-left: 0.25em;
        font-size: 1em;
    }

    button .icon:only-child,
    .button .icon:only-child {
        margin-right: 0.25em;
        margin-left: 0.25em;
        font-size: 1em;
    }

    /* set-up for waiting spinner */
    button.is-loading,
    .button.is-loading {
        color: transparent !important;
        pointer-events: none;
    }


    @keyframes spinAround {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(359deg);
        }
    }

    button.is-loading::after,
    .button.is-loading::after {
        -webkit-animation: spinAround .5s infinite linear;
        animation: spinAround .5s infinite linear;
        border-radius: 200px;

        border: 2px solid var(--bg-main);
        border-right-color: transparent;
        border-top-color: transparent;

        content: "";
        display: block;
        height: 1em;
        width: 1em;

        position: relative;
        right: calc(50% - (1em / 2) - 4px);
        top: calc(50% - (1em / 2) - 2px);
    }

    /*** floating action buttons ***/
    button.fab,
    button.fab-primary,
    button.fab-secondary,
    button.fab-complement {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;

        font-size: 2rem;
        padding: 0;
        margin: 0;

        border: none;
        border-radius: var(--radius-elem);
        cursor: pointer;

        box-shadow: var(--sh-md);
    }

    button.fab:active,
    button.fab-primary:active,
    button.fab-secondary:active,
    button.fab-complement:active {
        box-shadow:var(--sh-lg);
    }

    button.fab {
        background-color: var(--grey-dark);
        color: var(--bg-main);

    }

    button.fab:hover {
        background-color: var(--grey);
        border: none;
    }

    button.fab:active {
        background-color: var(--grey-darker);
        border: none;
    }

    button.fab-primary {
        background-color: var(--primary);
        color: var(--primary-ghost);
        border: none;
    }

    button.fab-primary:hover {
        background-color: var(--primary-hover);
        color: var(--primary-ghost);
        border: none;
    }

    button.fab-primary:active {
        background-color: var(--primary-active);
        color: var(--primary-ghost);
        border: none;
    }

    button.fab-secondary {
        background-color: var(--secondary);
        color: var(--secondary-ghost);
        border: none;
    }

    button.fab-secondary:hover {
        background-color: var(--secondary-hover);
        color: var(--secondary-ghost);
        border: none;
    }

    button.fab-secondary:active {
        background-color: var(--secondary-active);
        color: var(--secondary-ghost);
        border: none;
    }

    button.fab-complement {
        background-color: var(--complement);
        color: var(--complement-ghost);
        border: none;
    }

   button.fab-complement:hover {
       background-color: var(--complement-hover);
       color: var(--complement-ghost);
       border: none;
   }

    button.fab-complement:active {
        background-color: var(--complement-active);
        color: var(--complement-ghost);
        border: none;
    }

    /*** icon controls ***/
    button.fab > [class*="icon-bg-"],
    button.fab-primary > [class*="icon-bg-"],
    button.fab-secondary > [class*="icon-bg-"],
    button.fab-complement > [class*="icon-bg-"] {
        width: 67% !important;
        height: 67% !important;
        margin:0 !important;
        background-color: currentColor !important;
    }

    /*** position controls ***/
    .fab.is-top-left,
    .fab-primary.is-top-left,
    .fab-secondary.is-top-left,
    .fab-complement.is-top-left {
        position: fixed;
        top: calc( var(--base-rem) + var(--navbar-height) + var(--widgetbar-height));
        left: var(--base-rem);
        z-index: var(--navbar-z);
    }

    .fab.is-top-right,
    .fab-primary.is-top-right,
    .fab-secondary.is-top-right,
    .fab-complement.is-top-right {
        position: fixed;
        top: calc( var(--base-rem) + var(--navbar-height) + var(--widgetbar-height));
        right: var(--base-rem);
        z-index: var(--navbar-z);
    }

    .fab.is-bottom-left,
    .fab-primary.is-bottom-left,
    .fab-secondary.is-bottom-left,
    .fab-complement.is-bottom-left {
        position: fixed;
        bottom: var(--base-rem);
        left: var(--base-rem);
        z-index: var(--navbar-z);
    }

    .fab.is-bottom-right,
    .fab-primary.is-bottom-right,
    .fab-secondary.is-bottom-right,
    .fab-complement.is-bottom-right {
        position: fixed;
        bottom: var(--base-rem);
        right: var(--base-rem);
        z-index: var(--navbar-z);
    }

    .fab.is-large,
    .fab-primary.is-large,
    .fab-secondary.is-large,
    .fab-complement.is-large {
        width: 4rem;
        height: 4rem;
        font-size: 2.5rem;
    }

    .fab.is-rounded,
    .fab-primary.is-rounded,
    .fab-secondary.is-rounded,
    .fab-complement.is-rounded {
        border-radius: 50%;
    }
}