/* buttons.css */

@layer elements {

    button, .button {
        font-size: 1rem;
        font-weight: var(--weight-semibold);
        line-height: 1.5;
        color: var(--text-invert);

        padding: var(--pad-vert) calc(1.5 * var(--pad-horz));
        border: 1px solid var(--grey-dark);
        border-radius: 10rem;
        background-color: var(--grey-dark);
        box-shadow: none;

        display: inline-flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        cursor: pointer;
    }

    button:focus, .button:focus {
        outline: none;
    }


    a.button {
        height: auto;
        text-decoration: none;
    }

    button > a {
        color: inherit;
    }


    /** colour schemes **/

    /*** default button ***/
    .button-default,
    .button-default-outlined,
    .button-default-inverted {
        color: var(--text-invert);
        background-color: var(--bg-main);
        border: 1px solid var(--grey-dark);
    }
    button:not(.has-no-hover):hover,
    .button:not(.has-no-hover):hover {
        color: var(--text-elem);
        background-color: var(--grey-light);
        border: 1px solid var(--grey-light);
    }

    button:not(.has-no-hover):active,
    .button:not(.has-no-hover):hover {
        color: var(--text-invert-ter);
        background-color: var(--bg-main-invert);
        border: 1px solid var(--bg-main-invert);
    }

    .button-default-outlined {
        color: var(--grey-darker);
        background-color: var(--bg-main);
        border: 1px solid var(--grey-darker);
    }

    .button-default-outlined:not(.has-no-hover):hover {
        color: var(--text-invert);
        background-color: var(--grey-dark);
        border: 1px solid var(--grey-dark);
    }

    .button-default-outlined:not(.has-no-hover):active {
        color: var(--text-invert);
        background-color: var(--bg-main-invert);
        border: 1px solid var(--bg-main-invert);
    }

    .button-default-inverted {
        color: var(--text-comp);
        border: none;
        text-decoration-color: var(--text-comp);
        text-decoration-line: underline;
        text-underline-offset: 0.25em;
        background-color: var(--bg-main);
    }

    .button-default-inverted:not(.has-no-hover):hover {
        color: var(--text-elem);
        text-decoration: underline var(--text-elem);
        background-color: var(--bg-component);
        border: none;
    }

    .button-default-inverted:not(.has-no-hover):active {
        color: var(--text-invert-ter);
        text-decoration: underline var(--text-invert-ter);
        background-color: var(--grey-dark);
        border: none;
    }


    /*** primary button ***/
    button.button-primary,
    .button.button-primary{
        color: var(--primary-text-invert);
        background-color: var(--primary);
        border: 1px solid var(--primary);
    }

    button.button-primary:not(.has-no-hover):hover,
    .button.button-primary:not(.has-no-hover):hover {
        background-color: color-mix(var(--primary), white 20%);
        border: 1px solid color-mix(in hsl, var(--primary), white 20%);
    }

    button.button-primary:not(.has-no-hover):active,
    .button.button-primary:not(.has-no-hover):active {
        background-color: color-mix(in hsl, var(--primary), black 20%);
        border: 1px solid color-mix(in hsl, var(--primary), black 20%);
    }

    button.button-primary-outlined,
    .button.button-primary-outlined {
        color: var(--primary);
        background-color: var(--bg-main);
        border: 1px solid var(--primary);
    }

    button.button-primary-outlined:not(.has-no-hover):hover,
    .button.button-primary-outlined:not(.has-no-hover):hover{
        background-color: color-mix(in hsl, white, var(--primary) 30%);
        border: 1px solid color-mix(in hsl, white, var(--primary) 30%);
    }

    button.button-primary-outlined:not(.has-no-hover):active,
    .button.button-primary-outlined:not(.has-no-hover):active{
        background-color: color-mix(in hsl, var(--primary), black 20%);
        border: 1px solid color-mix(in hsl, var(--primary), black 20%);
    }

    button.button-primary-inverted,
    .button.button-primary-inverted{
        color: var(--primary);
        text-decoration: underline var(--primary);
        text-underline-offset: 0.25em;

        background-color: var(--bg-main);
        border: none;
    }

    button.button-primary-inverted:not(.has-no-hover):hover,
    .button.button-primary-inverted:not(.has-no-hover):hover{
        color: var(--primary);
        text-decoration: underline var(--primary);
        text-underline-offset: 0.25em;
        background-color: var(--bg-element);
        border: none;
    }

    button.button-primary-inverted:not(.has-no-hover):active,
    .button.button-primary-inverted:not(.has-no-hover):active{
        color: color-mix(in hsl, var(--primary), black 20%);
        text-decoration: underline color-mix(in hsl, var(--primary), black 20%);
        background-color: color-mix(in hsl, var(--primary), white 75%);
        border: none;
    }

    /*** secondary button ***/
    button.button-secondary,
    .button.button-secondary {
        color: var(--secondary-text-invert);
        background-color: var(--secondary);
        border: 1px solid var(--secondary);
    }

    button.button-secondary:not(.has-no-hover):hover,
    .button.button-secondary:not(.has-no-hover):hover {
        background-color: color-mix(var(--secondary), white 30%);
        border: 1px solid color-mix(in hsl, var(--secondary), white 30%);
    }

    button.button-secondary:not(.has-no-hover):active,
    button.button-secondary:not(.has-no-hover):active {
        background-color: color-mix(var(--secondary), black 20%);
        border: 1px solid color-mix(in hsl, var(--secondary), black 20%);
    }

    button.button-secondary-outlined,
    .button.button-secondary-outlined {
        color: var(--secondary-dark);
        background-color: var(--bg-main);
        border: 1px solid var(--secondary-dark);
    }

    button.button-secondary-outlined:not(.has-no-hover):hover,
    .button.button-secondary-outlined:not(.has-no-hover):hover{
        background-color: color-mix(in hsl, white, var(--secondary-dark) 30%);
        border: 1px solid color-mix(in hsl, white, var(--secondary-dark) 30%);
    }

    button.button-secondary-outlined:not(.has-no-hover):active,
    .button-secondary-outlined:not(.has-no-hover):active{
        background-color: color-mix(in hsl, var(--secondary-dark), black 20%);
        border: 1px solid color-mix(in hsl, var(--secondary-dark), black 20%);
    }

    button.button-secondary-inverted,
    .button.button-secondary-inverted {
        color: var(--secondary-dark);
        text-decoration: underline var(--secondary-dark);
        text-underline-offset: 0.25em;

        background-color: var(--bg-main);
        border: none;
    }

    button.button-secondary-inverted:not(.has-no-hover):hover,
    .button.button-secondary-inverted:not(.has-no-hover):hover{
        color: var(--secondary-dark);
        text-decoration: underline var(--secondary-dark);
        text-underline-offset: 0.25em;
        background-color: var(--bg-element);
        border: none;
    }

    button.button-secondary-inverted:not(.has-no-hover):active,
    .button.button-secondary-inverted:not(.has-no-hover):active{
        color: color-mix(in hsl, var(--secondary-dark), black 20%);
        text-decoration: underline color-mix(in hsl, var(--secondary-dark), black 20%);
        text-underline-offset: 0.25em;
        background-color: color-mix(in hsl, var(--secondary-dark), white 75%);
        border: none;
    }


    /*** complement buttons ***/
    button.button-complement,
    .button.button-complement {
        color: var(--complement-text-invert);
        background-color: var(--complement);
        border: 1px solid var(--complement);
    }

    button.button-complement:not(.has-no-hover):hover,
    .button.button-complement:not(.has-no-hover):hover {
        background-color: color-mix(var(--complement), white 30%);
        border: 1px solid color-mix(in hsl, var(--complement), white 30%);
    }

    button.button-complement:not(.has-no-hover):active,
    .button.button-complement:not(.has-no-hover):active {
        background-color: color-mix(var(--complement), black 20%);
        border: 1px solid color-mix(var(--complement), black 30%);
    }

    button.button-complement-outlined,
    .button.button-complement-outlined {
        color: var(--complement-dark);
        background-color: var(--bg-main);
        border: 1px solid var(--complement-dark);
    }

    button.button-complement-outlined:not(.has-no-hover):hover,
    .button.button-complement-outlined:not(.has-no-hover):hover {
        background-color: color-mix(in hsl, white, var(--complement-dark) 30%);
        border: 1px solid color-mix(in hsl, white, var(--complement-dark) 30%);
    }

    button.button-complement-outlined:not(.has-no-hover):active,
    .button.button-complement-outlined:not(.has-no-hover):active{
        background-color: color-mix(in hsl, var(--complement-dark), black 20%);
        border: 1px solid color-mix(in hsl, var(--complement-dark), black 20%);
    }

    button.button-complement-inverted,
    .button.button-complement-inverted {
        color: var(--complement-dark);
        text-decoration: underline var(--complement-dark);
        text-underline-offset: 0.25em;

        background-color: var(--bg-main);
        border: none;
    }

    button.button-complement-inverted:not(.has-no-hover):hover,
    .button.button-complement-inverted:not(.has-no-hover):hover{
        color: var(--complement-dark);
        text-decoration: underline var(--complement-dark);
        text-underline-offset: 0.25em;
        background-color: var(--bg-element);
        border: none;
    }

    button.button-complement-inverted:not(.has-no-hover):active,
    .button.button-complement-inverted:not(.has-no-hover):active {
        color: color-mix(in hsl, var(--complement-dark), black 20%);
        text-decoration: underline color-mix(in hsl, var(--complement-dark), black 20%);
        text-underline-offset: 0.25em;

        background-color: color-mix(in hsl, var(--complement-dark), white 75%);
        border: none;

    }



    /** button shape and size **/
    button.is-rectangle,
    .button.is-rectangle {
        border-radius: var(--radius-elem);
    }

    button.is-large,
    .button.is-large,
    .buttons.are-large > button {
        font-size: var(--size-4);
    }

    button.is-medium,
    .button.is-medium,
    .buttons.are-medium > button {
        font-size: var(--size-5);
    }

    button.is-normal,
    .button.is-normal,
    .buttons.are-normal > button {
        font-size: var(--size-6);
    }

    button.is-small,
    .button.is-small,
    .buttons.are-small > button {
        font-size: var(--size-7);
        font-weight: var(--weight-medium);
        padding: var(--pad-vert-small) var(--pad-horz);
        line-height: 1.2;
        height: 2rem;
    }

    button.is-small.is-rectangle,
    .button.is-small.is-rectangle {
        border-radius: calc(var(--radius-elem) / 2);
    }

    button[disabled],
    .button[disabled] {
        opacity: 0.6;
        cursor: not-allowed;
        pointer-events: none;
    }


    /* group buttons */
    .buttons {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .buttons button:not(:last-child),
    .buttons .button:not(:last-child) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        margin-right: -1px;
    }

    .buttons button:not(:first-child),
    .buttons .button:not(:first-child) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    /** ensure that hover doesn't distort button size **/
    .button[class*="outlined"]:not(.is-small):not(.has-no-hover):hover {
        padding-top: calc(var(--pad-vert) + 1px);
        padding-bottom: calc(var(--pad-vert) + 1px);
    }

    .button[class*="outlined"].is-small:not(.has-no-hover):hover {
        padding-top: calc(var(--pad-vert-small) + 1px);
        padding-bottom: calc(var(--pad-vert-small) + 1px);
    }

    button .icon:first-child,
    .button .icon:first-child {
        margin-left: calc(-0.25em - 1px);
        margin-right: 0.25em;
        font-size: 1em;
    }

    button .icon:last-child,
    .button .icon:last-child {
        margin-right: calc(-0.25em - 1px);
        margin-left: 0.25em;
        font-size: 1em;
    }

    button .icon:only-child,
    .button .icon:only-child {
        margin-right: 0.25em;
        margin-left: 0.25em;
        font-size: 1em;
    }

    /* set-up for waiting spinner */
    button.is-loading,
    .button.is-loading {
        color: transparent !important;
        pointer-events: none;
    }


    @keyframes spinAround {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(359deg);
        }
    }

    button.is-loading::after,
    .button.is-loading::after {
        -webkit-animation: spinAround .5s infinite linear;
        animation: spinAround .5s infinite linear;
        border-radius: 200px;

        border: 2px solid var(--bg-main);
        border-right-color: transparent;
        border-top-color: transparent;

        content: "";
        display: block;
        height: 1em;
        width: 1em;

        position: relative;
        right: calc(50% - (1em / 2) - 4px);
        top: calc(50% - (1em / 2) - 2px);
    }

    /*** floating action buttons ***/
    button.fab, .button.fab,
    button.fab-primary, .button.fab-primary,
    button.fab-secondary, .button.fab-secondary,
    button.fab-complement, .button.fab-complement {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.5rem;
        height: 3.5rem;

        font-size: 2rem;
        padding: 0;
        margin: 0;

        border: none;
        border-radius: var(--radius-elem);
        cursor: pointer;

        background-color: var(--grey-dark);
        color: var(--bg-main);
        box-shadow: 0 3px 5px -1px hsl(var(--shadow-raw) / .3),
        0 6px 10px 0 hsl(var(--shadow-raw) / .2),
        0 1px 18px 0 hsl(var(--shadow-raw) / .15); /* 6dp elevation */
    }

    button.fab:active, .button.fab:active,
    button.fab-primary:active, .button.fab-primary:active,
    button.fab-secondary:active, .button.fab-secondary:active,
    button.fab-complement:active, .button.fab-complement:active {
        box-shadow: 0 7px 8px -4px hsl(var(--shadow-raw) / .3),
        0 12px 17px 2px hsl(var(--shadow-raw) / .2),
        0 5px 22px 4px hsl(var(--shadow-raw) / .15); /* 12dp elevation on press */
    }

    button.fab-primary, .button.fab-primary {
        background-color: var(--primary);
        color: var(--primary-text-invert);
    }

    button.fab-secondary, .button.fab-secondary {
        background-color: var(--secondary);
        color: var(--secondary-text-invert);
    }

    button.fab-complement, .button.fab-complement {
        background-color: var(--complement);
        color: var(--complement-text-invert-dark);
    }

    .fab.is-top-left,
    .fab-primary.is-top-left,
    .fab-secondary.is-top-left,
    .fab-complement.is-top-left {
        position: fixed;
        top: var(--base-rem);
        left: var(--base-rem);
    }

    .fab.is-top-right,
    .fab-primary.is-top-right,
    .fab-secondary.is-top-right,
    .fab-complement.is-top-right {
        position: fixed;
        top: var(--base-rem);
        right: var(--base-rem);
    }

    .fab.is-bottom-left,
    .fab-primary.is-bottom-left,
    .fab-secondary.is-bottom-left,
    .fab-complement.is-bottom-left {
        position: fixed;
        bottom: var(--base-rem);
        left: var(--base-rem);
    }

    .fab.is-bottom-right,
    .fab-primary.is-bottom-right,
    .fab-secondary.is-bottom-right,
    .fab-complement.is-bottom-right {
        position: fixed;
        bottom: var(--base-rem);
        right: var(--base-rem);
    }

    .fab-icon {
        font-size: 1.5rem;
    }

    .fab.is-large,
    .fab-primary.is-large,
    .fab-secondary.is-large,
    .fab-complement.is-large {
        width: 4rem;
        height: 4rem;
        font-size: 2.5rem;
    }

    .fab.is-rounded,
    .fab-primary.is-rounded,
    .fab-secondary.is-rounded,
    .fab-complement.is-rounded {
        border-radius: 50%;
    }
}