@layer elements {

    /* Element / Block Colours */
    .is-primary {
        color: var(--primary-text-invert);
        background-color: var(--primary);
        border: 1px solid var(--primary-dark);
        opacity: 1;
    }

    .is-primary-light {
        color: var(--primary-text);
        background-color: var(--primary-light);
        border: 1px solid var(--primary);
        opacity: 1;
    }

    .is-primary-dark {
        color: var(--primary-text-invert-dark);
        background-color: var(--primary-dark);
        border: 1px solid var(--primary-dark);
        opacity: 1;
    }

    .is-primary-outlined {
        color: var(--primary-dark);
        background-color: var(--bg-main);
        border: 1px solid var(--primary-dark);
    }

    .is-secondary {
        color: var(--secondary-text-invert);
        background-color: var(--secondary);
        border: 1px solid var(--secondary-dark);
        opacity: 1;
    }

    .is-secondary-light {
        color: var(--secondary-text);
        background-color: var(--secondary-light);
        border: 1px solid var(--secondary);
        opacity: 1;
    }

    .is-secondary-dark {
        color: var(--secondary-text-invert-dark);
        background-color: var(--secondary-dark);
        border: 1px solid var(--secondary-dark);
        opacity: 1;
    }

    .is-secondary-outlined {
        color: var(--secondary-dark);
        background-color: var(--bg-main);
        border: 1px solid var(--secondary-dark);
    }


    .is-complement {
        color: var(--complement-text-invert);
        background-color: var(--complement);
        border: 1px solid var(--complement-dark);
        opacity: 1;
    }

    .is-complement-light {
        color: var(--complement-text);
        background-color: var(--complement-light);
        border: 1px solid var(--complement);
        opacity: 1;
    }

    .is-complement-dark {
        color: var(--complement-text-invert-dark);
        background-color: var(--complement-dark);
        border: 1px solid var(--complement-dark);
        opacity: 1;
    }

    .is-complement-outlined {
        color: var(--complement-dark);
        background-color: var(--bg-main);
        border: 1px solid var(--complement-dark);
    }


    .is-link {
        color: var(--link-text-invert);
        background-color: var(--link);
        border: 1px solid var(--link-dark);
        opacity: 1;
    }

    .is-link-light {
        color: var(--link-text);
        background-color: var(--link-light);
        border: 1px solid var(--link);
        opacity: 1;
    }

    .is-link-dark {
        color: var(--link-text-invert-dark);
        background-color: var(--link-dark);
        border: 1px solid var(--link-dark);
        opacity: 1;
    }


    .is-success {
        color: var(--success-text);
        background-color: var(--success);
        border: 1px solid var(--success-dark);
        opacity: 1;
    }

    .is-success-light {
        color: var(--success-text);
        background-color: var(--success-light);
        border: 1px solid var(--success);
        opacity: 1;
    }

    .is-success-dark {
        color: var(--success-text-invert-dark);
        background-color: var(--success-dark);
        border: 0 solid var(--success-dark);
        opacity: 1;
    }

    .is-success-outlined {
        color: var(--success-dark);
        background-color: var(--bg-main);
        border: 1px solid var(--success-dark);
    }


    .is-warning {
        color: var(--warning-text);
        background-color: var(--warning);
        border: 1px solid var(--warning-dark);
        opacity: 1;
    }

    .is-warning-light {
        color: var(--warning-text);
        background-color: var(--warning-light);
        border: 1px solid var(--warning);
        opacity: 1;
    }

    .is-warning-dark {
        color: var(--warning-text-invert-dark);
        background-color: var(--warning-dark);
        border: 0 solid var(--warning-dark);
        opacity: 1;
    }

    .is-warning-outlined {
        color: var(--warning-dark);
        background-color: var(--bg-main);
        border: 1px solid var(--warning-dark);
    }


    .is-danger {
        color: var(--danger-text-invert);
        background-color: var(--danger);
        border: 1px solid var(--danger-dark);
        opacity: 1;
    }

    .is-danger-light {
        color: var(--danger-text);
        background-color: var(--danger-light);
        border: 1px solid var(--danger);
        opacity: 1;
    }

    .is-danger-dark, .is-danger:not(.has-no-hover):hover {
        color: var(--danger-text-invert-dark);
        background-color: var(--danger-dark);
        border: 0 solid var(--danger-dark);
        opacity: 1;
    }

    .is-danger-outlined {
        color: var(--danger);
        background-color: var(--bg-main);
        border: 1px solid var(--danger);
    }

    .is-white {
        color: var(--text);
        background-color: var(--bg-main);
        border: 1px solid var(--bg-main);
    }

    .is-dark {
        color: var(--text-btn-invert);
        background-color: var(--grey-dark);
        border: 1px solid var(--grey-dark);
    }

    .is-grey {
        color: var(--black-800);
        background-color: var(--grey-light);
        border: 1px solid var(--grey-light);
    }
}
