.form {
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: none;
    background-color: var(--bg-main-elem);
    color: var(--text-elem);
}

.has-form-shadow {
    padding: var(--padding-medium) var(--padding-large);
    border-radius: var(--radius-comp);
    box-shadow: var(--shadow);
}

.form .field-group {
    margin:  var(--margin-form) 0;
    padding: 0;
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--gap-row) var(--gap-col);
}

.form .field-group > * {
    flex-grow: 1;
}

.form label {
    position: relative;
    display: block;
    margin:  var(--margin-form) 0;
}

.form .field-group label {
    margin:  0;
}

.adjust-label {
    left: 3.5rem;
}

.form label > span:first-child {
    position: absolute;
    left: var(--margin);
    top:  calc( -0.75 * var(--margin));
    background-color: var(--bg-main-elem);
    padding: 0  calc( 0.5 * var(--pad-horz) );
    font-weight: var(--weight-medium);
    font-size: var(--size-7);
    color: var(--text-elem);
    z-index: 10;
}


.form > label > input,
.form > label > textarea,
.form > label > select,
.form .field-group > label > input,
.form .field-group > label > textarea,
.form .field-group > label > select {
    background-color: var(--bg-main-elem);
    border: 1px solid var(--border-main-darker);
    border-radius: var(--radius-elem);

    position: relative;
    color: var(--text-elem);
    font-size: var(--size-6);
    display: block;
    box-sizing: border-box;

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    box-shadow: none;
    margin: 0;
    padding: 0.75rem 3.5rem 0.5rem 0.75rem;

    width: 100%;
}


.form > label select,
.form .has-field-addons > label > select{
    /* builds "chevron down" svg image for select box */
    background-image: var(--indicator);
    background-position: right 1em center;
    background-size: 1.5em 1.5em;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-clip: border-box;
    background-attachment: scroll;
    background-color: transparent;

    cursor: pointer;
}



/* controls for fieldset group of inputs */
.form fieldset {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-row) var(--gap-col);

    position: relative;
    padding: 0.75rem 0.75rem 0.5rem 0.75rem;
    margin: var(--margin-form) 0;

    background-color: var(--bg-main-elem);
    border: 1px solid var(--border-main-darker);
    border-radius: var(--radius-elem);
}

.form fieldset legend {
    background-color: var(--bg-main-elem);
    padding: 0 calc( 0.5 * var(--pad-horz) );
    font-weight: var(--weight-medium);
    font-size: var(--size-7);
    color: var(--text-elem);
}

.form fieldset > label {
    margin: 0;
    display: flex;
    align-items: center;
}

.form fieldset label > span {
    margin: 0 calc( 0.5 * var(--gap-col) );
}


.form label > input:focus-visible,
.form label > textarea:focus-visible,
.form label > select:focus-visible,
.form label > div:focus-visible {
    outline: none;
    border: 2px solid var(--primary);
}

.form label .icon:last-child,
.form label .icon:first-child {
    margin: 0;
}

.field-error {
    border: 1px solid var(--danger);
    border-radius: var(--radius-elem);
}

.form .has-field-addons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    margin:  var(--margin-form) 0;
}

.form .has-field-addons > * {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    box-shadow: none;
    font-size: var(--size-6);
    box-sizing: border-box;
    margin: 0;
    padding:0 0.75rem;
    border-radius: 0;
    height: calc( 2.5rem + 2px);
    width: auto;
    border: 1px solid var(--border-main-darker);
    cursor: pointer;

    display: flex;
    align-items: center;
    flex-basis: auto;
}

.form .has-field-addons > :first-child {
    border-top-left-radius: var(--radius-elem);
    border-bottom-left-radius: var(--radius-elem);
    border-right: none;
}

.form .has-field-addons > :last-child {
    border-top-right-radius: var(--radius-elem);
    border-bottom-right-radius: var(--radius-elem);
    border-left: none;
}

.form .has-field-addons label > * {
    border: none;
}

.form .has-field-addons label.is-fullwidth {
    width: 100%;
}


.form .has-field-addons > label > input,
.form .has-field-addons > label > textarea,
.form .has-field-addons > label > select {
    position: relative;
    color: var(--text-elem);
    font-size: var(--size-6);
    display: block;
    box-sizing: border-box;

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    box-shadow: none;
    margin: 0;
    padding: 0.75rem 0.75rem 0.5rem 0.75rem;

    width: 100%;
}

.form .has-field-addons  > label > select {
    padding-right: 3.5rem;
    width: auto;
}

.form input{
    height: 2.5em;
    line-height: 1.5;
}

.form textarea{
    resize: vertical;
}

.form .form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--margin);
}

.form .form-footer .button {
    padding: 0 1em;
}

.form input[type="submit"] {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: inherit;
    font-weight: var(--weight-semibold);
}


/* controls and decoration for switch /toggle element */
.form .switch {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.75rem 0.75rem 0.5rem 0.75rem;

    background-color: var(--bg-main-elem);
    border: 1px solid var(--border-main-darker);
    border-radius: var(--radius-elem);
}

.form .switch input {
    display: none;
}


.form .switch span {
    display: flex;
    align-items: center;
    padding-left: 4.5rem;
    border: none;
}

.form .switch span::before {
    position: absolute;
    display: block;
    top: 0.75rem;
    left: 2rem;
    width: 3rem;
    height: 1.5rem;
    border-radius: var(--radius-elem);
    background: var(--grey-light);
    content: '';
    transform: translate(-1rem, 0);
    cursor:pointer;
}

.form .switch span::after {
    display: block;
    position: absolute;
    top: 1rem;
    left: 1.25rem;
    width: 1rem;
    height: 1rem;
    transform: translate(0, 0);
    border-radius: var(--radius-elem);
    background: var(--white);
    transition: all 0.25s ease-out;
    content: '';
    cursor:pointer;
}

.form .switch input:checked + span::before {
    background-color: var(--secondary);
}

.form .switch input:checked + span::after {
    left: 2.75rem;
}

/* adds a help icon to top left part of field */
.form.has-help-text {
    position: relative;
}

.form.has-help-text > span {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    margin: 0;
    line-height: 0;
    padding: 0.25em;
    background-color: var(--bg-main);
    color: var(--secondary);
}

.form.has-help-text > span > * {
    margin: 0;
    height: 1em;
    width: 1em;
    cursor: pointer;
}

.form.has-help-text > p {
    margin-top: -1rem;
    margin-left: 1rem;
}
