/* Element / Block Colours */
.is-primary,
.is-primary-light.has-hover:hover,
.is-primary-outlined.has-hover:hover,
.is-primary-dark.has-hover:hover {
    color: var(--text-invert) !important;
    background-color: var(--primary) !important;
    border: 0 solid var(--primary) !important;
    opacity: 1 !important;
}

.is-primary-outlined {
    color: var(--primary) !important;
    background-color: var(--bg-main) !important;
    border: 1px solid var(--primary) !important;
}

.is-primary-inverted {
    color: var(--primary) !important;
    background-color: var(--bg-main) !important;
    border: none !important;
}

.is-primary-inverted.has-hover:hover {
    color: var(--primary) !important;
    background-color: var(--bg-main-ter) !important;
    opacity: 1 !important;
}

.is-primary-light {
    color: var(--primary-dark)  !important;
    background-color: var(--primary-light)  !important;
    border: 0 solid var(--primary)  !important;
    opacity: 1  !important;
}

.is-primary-dark, .is-primary.has-hover:hover {
    color: var(--bg-main) !important;
    background-color: var(--primary-dark)  !important;
    border: 0 solid var(--primary-dark)  !important;
    opacity: 1  !important;
}



.is-secondary,
.is-secondary-light.has-hover:hover,
.is-secondary-outlined.has-hover:hover,
.is-secondary-dark.has-hover:hover {
    color: var(--text-invert) !important;
    background-color: var(--secondary)  !important;
    border: 0 solid var(--secondary)  !important;
    opacity: 1  !important;
}

.is-secondary-outlined {
    color: var(--secondary) !important;
    background-color: var(--bg-main) !important;
    border: 1px solid var(--secondary) !important;
}

.is-secondary-inverted {
    color: var(--secondary) !important;
    background-color: var(--bg-main) !important;
    border: none !important;
}

.is-secondary-inverted.has-hover:hover {
    color: var(--secondary) !important;
    background-color: var(--bg-main-ter) !important;
    opacity: 1 !important;
}

.is-secondary-light {
    color: var(--secondary-dark) !important;
    background-color: var(--secondary-light) !important;
    border: 0 solid var(--secondary) !important;
}

.is-secondary-dark, .is-secondary.has-hover:hover {
    color: var(--bg-main)  !important;
    background-color: var(--secondary-dark)  !important;
    border: 0 solid var(--secondary-dark)  !important;
    opacity: 1  !important;
}




.is-link,
.is-link-light.has-hover:hover,
.is-link-outlined.has-hover:hover,
.is-link-dark.has-hover:hover {
    color: var(--text-invert) !important;
    background-color: var(--link)  !important;
    border: 0 solid var(--link)  !important;
    opacity: 1  !important;
}

.is-link-outlined {
    color: var(--link) !important;
    background-color: var(--bg-main) !important;
    border: 1px solid var(--link) !important;
}

.is-link-inverted {
    color: var(--link) !important;
    background-color: var(--bg-main) !important;
}

.is-link-inverted.has-hover:hover {
    color: var(--link) !important;
    background-color: var(--bg-main-ter) !important;
    opacity: 1 !important;
}

.is-link-light {
    color: var(--link-dark) !important;
    background-color: var(--link-light) !important;
    border: 0 solid var(--link) !important;
}

.is-link-dark, .is-link.has-hover:hover {
    color: var(--text-invert) !important;
    background-color: var(--link-dark)  !important;
    border: 0 solid var(--link-dark)  !important;
    opacity: 1  !important;
}



.is-info,
.is-info-light.has-hover:hover,
.is-info-outlined.has-hover:hover,
.is-info-dark.has-hover:hover  {
    color: var(--text-invert) !important;
    background-color: var(--info)  !important;
    border: 0 solid var(--info)  !important;
    opacity: 1  !important;
}

.is-info-outlined {
    color: var(--info) !important;
    background-color: var(--bg-main) !important;
    border: 1px solid var(--info) !important;
}

.is-info-inverted {
    color: var(--info) !important;
    background-color: var(--bg-main) !important;
    border: none !important;
}

.is-info-inverted.has-hover:hover {
    color: var(--info) !important;
    background-color: var(--bg-main-ter) !important;
    opacity: 1 !important;
}

.is-info-light {
    color: var(--info-dark) !important;
    background-color: var(--info-light) !important;
    border: 0 solid var(--info) !important;
}

.is-info-dark, .is-info.has-hover:hover {
    color: var(--text-invert) !important;
    background-color: var(--info-dark)  !important;
    border: 0 solid var(--info-dark)  !important;
    opacity: 1  !important;
}




.is-success,
.is-success-light.has-hover:hover,
.is-success-outlined.has-hover:hover,
.is-success-dark.has-hover:hover {
    color: var(--text-invert) !important;
    background-color: var(--success)  !important;
    border: 0 solid var(--success)  !important;
    opacity: 1  !important;
}

.is-success-outlined {
    color: var(--success) !important;
    background-color: var(--bg-main) !important;
    border: 1px solid var(--success) !important;
}

.is-success-inverted {
    color: var(--success) !important;
    background-color: var(--bg-main) !important;
    border: none !important;
}

.is-success-inverted.has-hover:hover {
    color: var(--success) !important;
    background-color: var(--bg-main-ter) !important;
    opacity: 1 !important;
}

.is-success-light {
    color: var(--success-dark) !important;
    background-color: var(--success-light) !important;
    border: 0 solid var(--success) !important;
}

.is-success-dark, .is-success.has-hover:hover {
    color: var(--text-invert) !important;
    background-color: var(--success-dark)  !important;
    border: 0 solid var(--success-dark)  !important;
    opacity: 1  !important;
}




.is-warning,
.is-warning-light.has-hover:hover,
.is-warning-outlined.has-hover:hover,
.is-warning-dark.has-hover:hover {
    color: var(--text-stronger)  !important;
    background-color: var(--warning)  !important;
    border: 0 solid var(--warning)  !important;
    opacity: 1  !important;
}

.is-warning-outlined {
    color: var(--warning-dark) !important;
    background-color: var(--bg-main) !important;
    border: 1px solid var(--warning) !important;
}

.is-warning-inverted {
    color: var(--warning-dark) !important;
    background-color: var(--bg-main) !important;
    border: none !important;
}

.is-warning-inverted.has-hover:hover {
    color: var(--warning-dark) !important;
    background-color: var(--bg-main-ter) !important;
    opacity: 1 !important;
}

.is-warning-light {
    color: var(--warning-dark) !important;
    background-color: var(--warning-light) !important;
    border: 0 solid var(--warning) !important;
}

.is-warning-dark, .is-warning.has-hover:hover {
    color: var(--text-invert)  !important;
    background-color: var(--warning-dark)  !important;
    border: 0 solid var(--warning-dark)  !important;
    opacity: 1  !important;
}




.is-danger,
.is-danger-light.has-hover:hover,
.is-danger-outlined.has-hover:hover,
.is-danger-dark.has-hover:hover {
    color: var(--text-invert)  !important;
    background-color: var(--danger)  !important;
    border: 0 solid var(--danger)  !important;
    opacity: 1  !important;
}

.is-danger-outlined {
    color: var(--danger) !important;
    background-color: var(--bg-main) !important;
    border: 1px solid var(--danger) !important;
}

.is-danger-inverted {
    color: var(--danger) !important;
    background-color: var(--bg-main) !important;
    border: none !important;
}

.is-danger-inverted.has-hover:hover {
    color: var(--danger) !important;
    background-color: var(--bg-main-ter) !important;
    opacity: 1 !important;
}

.is-danger-light {
    color: var(--danger-dark) !important;
    background-color: var(--danger-light) !important;
    border: 0 solid var(--danger) !important;
}

.is-danger-dark, .is-danger.has-hover:hover {
    color: var(--text-invert)  !important;
    background-color: var(--danger-dark)  !important;
    border: 0 solid var(--danger-dark)  !important;
    opacity: 1  !important;
}



.is-white {
    color: var(--text) !important;
    background-color: var(--bg-main) !important;
    border: 1px solid var(--bg-main) !important;
}

.is-dark {
    color: var(--text-invert) !important;
    background-color: var(--grey-darker) !important;
    border: 0 solid var(--grey-darker) !important;
}

.is-grey {
    color: var(--black-ter) !important;
    background-color: var(--grey-lighter) !important;
    border: 0 solid var(--grey-lighter) !important;
}
