<div class="sidenav-block">
    <input type="checkbox" id="slide-core-helpers" {% if page.parent-tab == 'core-helpers' %}checked{% endif %}>
    <label for="slide-core-helpers">Core Helpers</label>
    <nav>
        <a href="{{site.url}}/_pages/core-helpers/colours.html">Colour Palette</a>
        <a href="{{site.url}}/_pages/core-helpers/heights.html">Heights</a>
        <a href="{{site.url}}/_pages/core-helpers/positions.html">Positions</a>
        <a href="{{site.url}}/_pages/core-helpers/widths.html">Widths</a>
    </nav>
</div>
