<div class="sidenav-block">
    <input type="checkbox" id="slide-extra-elements" {% if page.parent-tab == 'extra-elements' %}checked{% endif %}>
    <label for="slide-extra-elements">Extra Elements</label>
    <nav>
        <ul>
            <li><a href="{{site.url}}/pages/extra-elements/progress-bar.html" class="{% if page.nav == "Progress Bars" %}is-active{% endif %}">Progress Bars</a></li>
            <li><a href="{{site.url}}/pages/extra-elements/ribbon.html" class="{% if page.nav == "Ribbons" %}is-active{% endif %}">Ribbons</a></li>
            <li><a href="{{site.url}}/pages/extra-elements/tooltip.html" class="{% if page.nav == "Tool Tips" %}is-active{% endif %}">Tool Tips</a></li>
        </ul>
    </nav>
</div>
