<div class="sidenav-block">
    <input type="checkbox" id="slide-extra-elements" {% if page.parent-tab == 'extra-elements' %}checked{% endif %}>
    <label for="slide-extra-elements">Extra Elements</label>
    <nav>
        <a href="{{site.url}}/pages/extra-elements/progress-bar.html">Progress Bars</a>
        <a href="{{site.url}}/pages/extra-elements/ribbon.html">Ribbons</a>
        <a href="{{site.url}}/pages/extra-elements/tooltip.html">Tool Tips</a>
    </nav>
</div>
