.badge {
    position: relative;
    white-space: nowrap;
}

.badge[data-badge]::after {
    font-size: .75rem;
    height: .95rem;
    line-height: 1.25;
    min-width: .75rem;
    padding: .1rem .25rem;
    text-align: center;
    white-space: nowrap;
}

.badge:not([data-badge])::after, .badge[data-badge]::after {
    background: var(--grey-dark);
    background-clip: padding-box;
    border-radius: 1rem;
    box-shadow: 0 0 0 0.1rem var(--bg-main);
    color: var(--text-btn);
    content: attr(data-badge);
    display: inline-block;
    transform: translate(-.05rem,-.75rem);
}


.badge:not([data-badge])::after, .badge[data-badge=""]::after {
    height: 6px;
    min-width: 6px;
    padding: 0;
    width: 6px;
}

button.badge::after {
    position: absolute;
    right: -0.5rem;
    top: 0;
    transform: translate(50%,-50%);
}

.badge.avatar::after {
    position: absolute;
    right: 14.64%;
    top: 14.64%;
    transform: translate(50%,-50%);
    z-index: 5;
}

.badge.has-icon::after {
    position: absolute;
    right: -10%;
    top: 15%;
    transform: translate(50%,-50%);
    z-index: 5;
}

.badge.is-badge-primary::after {
    color: var(--primary-text);
    background-color: var(--primary);
}

.badge.is-badge-secondary::after {
    color: var(--secondary-text);
    background-color: var(--secondary);
}

.badge.is-badge-tertiary::after {
    color: var(--tertiary-text);
    background-color: var(--tertiary);
}

.badge.is-badge-success::after {
    color: var(--success-text);
    background-color: var(--success);
}

.badge.is-badge-warning::after {
    color: var(--warning-text);
    background-color: var(--warning);
}

.badge.is-badge-danger::after {
    color: var(--danger-text);
    background-color: var(--danger);
}

.badge.is-badge-link::after {
    color: var(--link-text);
    background-color: var(--link);
}
