@layer extended {

    [class*="badge"] {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transform: translate(-.05rem, -.75rem);
        position: relative;

        min-width: .7rem;
        height: 1rem;
        padding: .2rem .3rem;

        font-size: .9rem;
        font-weight: var(--weight-medium);
        line-height: 1;
        color: var(--ghost);
        white-space: nowrap;

        background: var(--grey-dark);
        background-clip: padding-box;
        border-radius: 1rem;
        box-shadow: 0 0 0 0.1rem var(--bg-main);
    }

    [class*="badge"].no-border {
        box-shadow: unset;
    }

    [class*="badge"]:empty {
        height: 0.75rem;
        min-width: 0.75rem;
        width: 0.75rem;
        padding: 0;
    }

    button:has([class*="badge"]),
    figure:has([class*="badge"]) {
        position: relative;
    }

    button > [class*="badge"] {
        position: absolute;
        right: -0.5rem;
        top: 0;
    }

    figure > [class*="badge"] {
        position: absolute;
        right: -0.5rem;
        top: 0.5rem;
        z-index: 2;
    }

    figure:not(.avatar) > [class*="badge"] {
        top: 0.25rem;
    }


    /* colour controls */
    .badge-primary {
        color: var(--primary-ghost);
        background-color: var(--primary);
    }

    .badge-secondary {
        color: var(--secondary-ghost);
        background-color: var(--secondary);
    }

    .badge-complement {
        color: var(--complement-ghost);
        background-color: var(--complement);
    }

    .badge-success {
        color: var(--success-ghost);
        background-color: var(--success);
    }

    .badge-warning {
        color: var(--warning-ghost);
        background-color: var(--warning);
    }

    .badge-danger {
        color: var(--danger-ghost);
        background-color: var(--danger);
    }
}
