[class*="badge"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: translate(-.05rem,-.75rem);
    position: relative;

    min-width: .7rem;
    height: 1rem;
    padding: .1rem .25rem;

    font-size: .85rem;
    font-weight: var(--weight-medium);
    line-height: 1;
    color: var(--text-invert);
    white-space: nowrap;

    background: var(--grey-dark);
    background-clip: padding-box;
    border-radius: 1rem;
    box-shadow: 0 0 0 0.1rem var(--bg-main);
}

[class*="badge"].no-border {
    box-shadow: unset;
}

[class*="badge"]:empty {
    height: 0.5rem;
    min-width: 0.5rem;
    width: 0.5rem;
    padding: 0;
}

button:has(span),
figure:has(span){
    position: relative;
}

button > [class*="badge"] {
    position: absolute;
    right: -0.5rem;
    top: 0;
}

figure > [class*="badge"] {
    position: absolute;
    right: -0.5rem;
    top: 0.5rem;
    z-index: 2;
}

figure:not(.avatar) > [class*="badge"] {
    top: 0.25rem;
}


/* colour controls */
.badge-primary {
    color: var(--primary-text-invert);
    background-color: var(--primary);
}

.badge-secondary {
    color: var(--secondary-text-invert);
    background-color: var(--secondary);
}

.badge-tertiary {
    color: var(--tertiary-text-invert);
    background-color: var(--tertiary);
}

.badge-success {
    color: var(--success-text-invert);
    background-color: var(--success-dark);
}

.badge-warning {
    color: var(--warning-text);
    background-color: var(--warning);
}

.badge-danger {
    color: var(--danger-text-invert);
    background-color: var(--danger);
}

.badge-link {
    color: var(--link-text-invert);
    background-color: var(--link);
}
