/* notification.css */

@layer extended {

    .notification {
        border-radius: var(--radius);
        position: relative;
        padding: 1.25rem 2.5rem 1.25rem 1.5rem;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em
    }

    .notification > p {
        padding: 0;
        margin: 0;
    }

    .notification span[class*=icon-bg-] {
        padding: 0;
        margin: 0;
        height: 2em;
        width: 3em;
    }

    .notification:not([class*=" is-"]) {
        background-color: var(--bg-element);
        color: var(--text);
    }

    .notification > .delete {
        position: absolute;
        right: .5em;
        top: .5em;

        height: 1.5em;
        width: 1.5em;
        margin: 0;
        padding: 0;

        color: var(--white-50);
        background-color: var(--black-700);

        border: none;
        border-radius: 20rem;
        opacity: 75%;

        pointer-events: auto;
        cursor: pointer;
    }


    .notification > .delete::before,
    .notification > .delete::after {
        content: "";
        background-color: currentColor;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transform-origin: center center;
    }


    .notification > .delete::before {
        width: 50%;
        height: 1.5px;
    }

    .notification > .delete::after {
        width: 1.5px;
        height: 50%;
    }

    .notification > .delete:hover,
    .notification > .delete:focus {
        background-color: var(--grey-light);
        border: 1px solid var(--grey-light);
        color: var(--black-700);
    }

    .notification > .delete:active {
        background-color: var(--grey-lighter);
        border: 1px solid var(--grey-lighter);
        color: var(--black-700);
    }
}
