@layer extended {

    .tag {
        align-items: center;
        border-radius: var(--radius);
        display: inline-flex;
        font-size: var(--size-7);
        font-weight: var(--weight-semibold);
        height: 2em;
        justify-content: center;
        line-height: var(--line-height-150);
        padding-left: 0.75em;
        padding-right: 0.75em;
        white-space: nowrap;
    }


    .tag:not([class*=" is-"]),
    .tag.is-delete {
        background-color: var(--bg-element);
        color: var(--text);
    }

    .tag .delete {
        margin: 0 -0.375rem 0 0.5rem;
        padding: 0;
        min-width: unset;
        min-height: unset;
        max-width: unset;
        max-height: unset;
        height: 1.4em;
        width: 1.4em;
        font-size: inherit;
    }

    /* text sizes */
    .tag.tag-normal {
        font-size: var(--size-7);
    }

    .tag.tag-medium {
        font-size: var(--size-6);
    }

    .tag.tag-large {
        font-size: var(--size-5);
    }


    /* adjust icon layout */
    .tag [class*="icon-bg"] {
        margin-left: auto;
        margin-right: auto;
        font-size: inherit;
        display: inline-flex;
    }

    /* control delete tag layout */
    .tag.is-delete {
        margin-left: 1px;
        padding: 0;
        position: relative;
        width: 2em;
    }

    .tag.is-delete::before, .tag.is-delete::after {
        background-color: currentColor;
        content: "";
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transform-origin: center center;
    }

    .tag.is-delete::before {
        height: 1px;
        width: 50%;
    }

    .tag.is-delete::after {
        height: 50%;
        width: 1px;
    }

    .tag.is-delete:hover, .tag.is-delete:focus {
        background-color: var(--grey-light);
    }

    .tag.is-delete:active {
        background-color: var(--grey-lighter);
    }

    .tag.is-rounded {
        border-radius: 9999px;
    }

    a.tag:hover {
        text-decoration: underline;
    }


    .tags {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        row-gap: 0.75rem;
    }

    .tags .tag:not(:last-child) {
        margin-right: var(--mar-horz);
    }

    .tags.is-rounded .tag {
        border-radius: 9999px;
    }

    .tags.are-medium .tag:not(.is-normal):not(.is-large) {
        font-size: var(--size-6);
    }

    .tags.are-large .tag:not(.is-normal):not(.is-medium) {
        font-size: var(--size-5);
    }


    /* compound tag  and lists */
    .tags.is-compound .tag {
        margin-right: 0;
    }

    .tags.is-compound .tag:not(:first-child) {
        margin-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .tags.is-compound .tag:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }


    .tag-list {
        display: flex;
        align-items: center;
    }

    .tag-list li {
        list-style: none;
    }

}
