form {
    margin: 0;
    padding: var(--pad-vert-large) var(--pad-horz-large);

    background-color: var(--bg-main);
    border-radius: 6px;
    box-shadow: var(--shadow);
    color: var(--text);
}

legend {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;

    display: flex;
    justify-content: space-between;
}

form fieldset {
    margin-top:  var(--mar-neg-large);
    margin-bottom: var(--mar-neg-large);
}

fieldset > * {
    flex-grow: 1;
    width: 100%;
}

fieldset > :not(:first-child) {
    margin-left: var(--mar-horz-large);
}

.field-label {
    position: relative;
    display: block;
    margin:  var(--mar-vert-large) 0;
}

.field-label .float-label{
    position: absolute;
    left: var(--mar-horz-large);
    top:  var(--mar-neg);
    background-color: var(--bg-main);
    padding: 0  var(--pad-horz-sm);
    font-weight: var(--weight-medium);
    font-size: var(--size-7);
    color: var(--text);
    z-index: 10;
}

.adjust-label {
    left: 3.5rem;
}

.form-field {
    border: 1px solid var(--border-main-darker);
    background-color: var(--bg-main);
    border-radius: var(--radius-large);

    color: var(--text);
    font-size: var(--size-6);
    display: block;
    box-sizing: border-box;

    -moz-appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    margin: 0;
    padding: 0.75rem 0.75rem 0.5rem 0.75rem;

    width: 100%;
}

.form-field:focus-visible {
    outline: none;
    border: 1px solid var(--primary);
}


.field-error {
    border: 1px solid var(--danger);
    border-radius: var(--radius-large);
}

.has-field-addons {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin:  var(--mar-vert-large) 0;
}

.has-field-addons > * {
    -moz-appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    background-color: var(--bg-main);
    font-size: var(--size-6);
    box-sizing: border-box;
    margin: 0;
    padding: 0.75rem 0.75rem 0.5rem 0.75rem;
    border-radius: 0;
    height: 2.5em;
    border: 1px solid var(--border-main-darker);
    cursor: pointer;
}

.has-field-addons .is-expanded {
    flex-grow: 1;
}

.has-field-addons > :first-child {
    border-top-left-radius: var(--radius-large);
    border-bottom-left-radius: var(--radius-large);
}

.has-field-addons > :last-child {
    border-top-right-radius: var(--radius-large);
    border-bottom-right-radius: var(--radius-large);
}

.has-field-addons .select{
    padding: 0;
    position: relative
}


.has-field-addons .select select {
    padding: 0.75rem 3.5rem 0.5rem 0.75rem;
    border: none;
    background: transparent;
    font-size: inherit;
    color: inherit;
    width: 100%;
}

.has-field-addons input[type="file"]{

}

.input input{
    height: 2.5em;
    line-height: 1.5;
}

.textarea textarea{
    resize: vertical;
}

.select select{
    cursor: pointer;
}



.select::after {
    border: 3px solid var(--primary);
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: .625em;
    margin-top: -.55em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(
            -45deg
    );
    transform-origin: center;
    width: .625em;

    right: 1.5em;
    z-index: 4;
}


.radios input[checked] {
    color: var(--primary);
}

.radios input,
.checkboxes input{
    margin-right: 0.5em;
}

.radios input:not(:first-child),
.checkboxes input:not(:first-child){
    margin-left: 1.5em;
}
