.navbar {
    background-color: var(--bg-main);
    min-height: var(--navbar-height);
    position: relative;
    z-index: 30;
}

.navbar > .container {
    align-items: stretch;
    display: flex;
    min-height: var(--navbar-height);;
    width: 100%;
}

.navbar.has-shadow {
    box-shadow: 0 2px 0 0 var(--bg-main-ter);
}

.navbar.is-fixed-bottom, .navbar.is-fixed-top {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 30;
}

.navbar.is-fixed-bottom {
    bottom: 0;
}

.navbar.is-fixed-bottom.has-shadow {
    box-shadow: 0 -2px 0 0 var(--bg-main-ter);
}

.navbar.is-fixed-top {
    top: 0;
}

html.has-navbar-fixed-top,
body.has-navbar-fixed-top {
    padding-top: var(--navbar-height);;
}

html.has-navbar-fixed-bottom,
body.has-navbar-fixed-bottom {
    padding-bottom: var(--navbar-height);;
}

.navbar-brand,
.navbar-tabs {
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    min-height: var(--navbar-height);;
}

.navbar-brand a.navbar-item:focus, .navbar-brand a.navbar-item:hover {
    background-color: transparent;
}

.navbar-tabs {
    -webkit-overflow-scrolling: touch;
    max-width: 100vw;
    overflow-x: auto;
    overflow-y: hidden;
}

.navbar-burger {
    color: currentColor;
    cursor: pointer;
    display: block;
    height: var(--navbar-height);;
    position: relative;
    width: var(--navbar-height);;
    margin-left: auto;
}

.navbar-burger span {
    background-color: currentColor;
    display: block;
    height: 1px;
    left: calc(50% - 8px);
    position: absolute;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
    width: 16px;
}

.navbar-burger span:nth-child(1) {
    top: calc(50% - 6px);
}

.navbar-burger span:nth-child(2) {
    top: calc(50% - 1px);
}

.navbar-burger span:nth-child(3) {
    top: calc(50% + 4px);
}

.navbar-burger:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.navbar-burger.is-active span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

.navbar-burger.is-active span:nth-child(2) {
    opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
}

.navbar-menu {
    display: none;
}

.navbar-item,
.navbar-link {
    color: currentColor;
    display: block;
    line-height: 1.5;
    padding: var(--pad-vert) var(--pad-horz);
    position: relative;
}

.navbar-item .icon:only-child,
.navbar-link .icon:only-child {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
}

a.navbar-item,
.navbar-link {
    cursor: pointer;
}

a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
    background-color: var(--bg-main-ter);
    color: var(--bg-main-invert-ter);
}

.navbar-item {
    flex-grow: 0;
    flex-shrink: 0;
}

.navbar-item img {
    max-height: 1.75rem;
    width: auto;
}

.navbar-item.has-dropdown {
    padding: 0;
}

.navbar-item.is-expanded {
    flex-grow: 1;
    flex-shrink: 1;
}

.navbar-item.is-tab {
    border-bottom: 1px solid transparent;
    min-height: var(--navbar-height);;
    padding-bottom: calc(0.5rem - 1px);
}

.navbar-item.is-tab:focus, .navbar-item.is-tab:hover {
    background-color: transparent;
    border-bottom-color: var(--link);
}

.navbar-item.is-tab.is-active {
    background-color: transparent;
    border-bottom-color: var(--link);
    border-bottom-style: solid;
    border-bottom-width: 3px;
    color: var(--link);
    padding-bottom: calc(0.5rem - 3px);
}

.navbar-content {
    flex-grow: 1;
    flex-shrink: 1;
}

.navbar-link:not(.is-arrowless) {
    padding-right: 2.5em;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: var(--link);
    margin-top: -0.375em;
    right: 1.125em;
}

.navbar-dropdown {
    font-size: var(--size-7);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    color: var(--text);
}

.navbar-dropdown .navbar-item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.navbar-divider {
    background-color: var(--bg-main-ter);
    border: none;
    display: none;
    height: 2px;
    margin: 0.5rem 0;
}

@media screen and (min-width: 769px) {
    .navbar,
    .navbar-menu,
    .navbar-start,
    .navbar-end {
        align-items: stretch;
        display: flex;
    }
    .navbar {
        min-height: var(--navbar-height);;
    }
    .navbar.is-spaced {
        padding: 1rem 2rem;
    }
    .navbar.is-spaced .navbar-start,
    .navbar.is-spaced .navbar-end {
        align-items: center;
    }
    .navbar.is-spaced a.navbar-item,
    .navbar.is-spaced .navbar-link {
        border-radius: var(--radius);
    }
    .navbar.is-transparent a.navbar-item:focus, .navbar.is-transparent a.navbar-item:hover, .navbar.is-transparent a.navbar-item.is-active,
    .navbar.is-transparent .navbar-link:focus,
    .navbar.is-transparent .navbar-link:hover,
    .navbar.is-transparent .navbar-link.is-active {
        background-color: transparent !important;
    }
    .navbar.is-transparent .navbar-item.has-dropdown.is-active .navbar-link, .navbar.is-transparent .navbar-item.has-dropdown.is-hoverable:focus .navbar-link, .navbar.is-transparent .navbar-item.has-dropdown.is-hoverable:focus-within .navbar-link, .navbar.is-transparent .navbar-item.has-dropdown.is-hoverable:hover .navbar-link {
        background-color: transparent !important;
    }
    .navbar.is-transparent .navbar-dropdown a.navbar-item:focus, .navbar.is-transparent .navbar-dropdown a.navbar-item:hover {
        background-color: var(--bg-main-ter);
        color: var(--text-stronger);
    }
    .navbar.is-transparent .navbar-dropdown a.navbar-item.is-active {
        background-color: var(--bg-main-ter);
        color: var(--link);
    }
    .navbar-burger {
        display: none;
    }
    .navbar-item,
    .navbar-link {
        align-items: center;
        display: flex;
    }
    .navbar-item.has-dropdown {
        align-items: stretch;
    }
    .navbar-item.has-dropdown-up .navbar-link::after {
        transform: rotate(135deg) translate(0.25em, -0.25em);
    }
    .navbar-item.has-dropdown-up .navbar-dropdown {
        border-bottom: 2px solid var(--border-main-darker);
        border-radius: 6px 6px 0 0;
        border-top: none;
        bottom: 100%;
        box-shadow: 0 -8px 8px rgba(10, 10, 10, 0.1);
        top: auto;
    }
    .navbar-item.is-active .navbar-dropdown, .navbar-item.is-hoverable:focus .navbar-dropdown, .navbar-item.is-hoverable:focus-within .navbar-dropdown, .navbar-item.is-hoverable:hover .navbar-dropdown {
        display: block;
    }
    .navbar.is-spaced .navbar-item.is-active .navbar-dropdown, .navbar-item.is-active .navbar-dropdown.is-boxed, .navbar.is-spaced .navbar-item.is-hoverable:focus .navbar-dropdown, .navbar-item.is-hoverable:focus .navbar-dropdown.is-boxed, .navbar.is-spaced .navbar-item.is-hoverable:focus-within .navbar-dropdown, .navbar-item.is-hoverable:focus-within .navbar-dropdown.is-boxed, .navbar.is-spaced .navbar-item.is-hoverable:hover .navbar-dropdown, .navbar-item.is-hoverable:hover .navbar-dropdown.is-boxed {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    }
    .navbar-menu {
        flex-grow: 1;
        flex-shrink: 0;
    }
    .navbar-start {
        justify-content: flex-start;
        margin-right: auto;
    }
    .navbar-end {
        justify-content: flex-end;
        margin-left: auto;
    }
    .navbar-dropdown {
        background-color: var(--bg-main);
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top: 2px solid var(--border-main-darker);;
        box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
        display: none;
        font-size: 0.875rem;
        left: 0;
        min-width: 100%;
        position: absolute;
        top: 100%;
        z-index: 20;
    }
    .navbar-dropdown .navbar-item {
        padding: 0.375rem 1rem;
        white-space: nowrap;
    }
    .navbar-dropdown a.navbar-item {
        padding-right: 3rem;
    }
    .navbar-dropdown a.navbar-item:focus, .navbar-dropdown a.navbar-item:hover {
        background-color: var(--bg-main-ter);
        color: var(--text-stronger);
    }
    .navbar-dropdown a.navbar-item.is-active {
        background-color: var(--bg-main-ter);
        color: var(--link);
    }
    .navbar.is-spaced .navbar-dropdown, .navbar-dropdown.is-boxed {
        border-radius: 6px;
        border-top: none;
        box-shadow: var(--shadow);
        display: block;
        opacity: 0;
        pointer-events: none;
        top: calc(100% + (-4px));
        transform: translateY(-5px);
        transition-duration: 86ms;
        transition-property: opacity, transform;
    }
    .navbar-dropdown.is-right {
        left: auto;
        right: 0;
    }
    .navbar-divider {
        display: block;
    }
    .navbar > .container .navbar-brand,
    .container > .navbar .navbar-brand {
        margin-left: -0.75rem;
    }
    .navbar > .container .navbar-menu,
    .container > .navbar .navbar-menu {
        margin-right: -0.75rem;
    }
    .navbar.is-fixed-bottom-desktop, .navbar.is-fixed-top-desktop {
        left: 0;
        position: fixed;
        right: 0;
        z-index: 30;
    }
    .navbar.is-fixed-bottom-desktop {
        bottom: 0;
    }
    .navbar.is-fixed-bottom-desktop.has-shadow {
        box-shadow: 0 -2px 3px rgba(10, 10, 10, 0.1);
    }
    .navbar.is-fixed-top-desktop {
        top: 0;
    }
    html.has-navbar-fixed-top-desktop,
    body.has-navbar-fixed-top-desktop {
        padding-top: var(--navbar-height);;
    }
    html.has-navbar-fixed-bottom-desktop,
    body.has-navbar-fixed-bottom-desktop {
        padding-bottom: var(--navbar-height);;
    }
    html.has-spaced-navbar-fixed-top,
    body.has-spaced-navbar-fixed-top {
        padding-top: 5.25rem;
    }
    html.has-spaced-navbar-fixed-bottom,
    body.has-spaced-navbar-fixed-bottom {
        padding-bottom: 5.25rem;
    }
    a.navbar-item.is-active,
    .navbar-link.is-active {
        color: var(--text-stronger);
    }
    a.navbar-item.is-active:not(:focus):not(:hover),
    .navbar-link.is-active:not(:focus):not(:hover) {
        background-color: transparent;
    }
    .navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
        background-color: var(--bg-main-ter);
        color: var(--bg-main-invert)
    }
}
