.divider, .divider-vert {
    display: block;
    position: relative;
}

.divider {
    border-top: .05rem solid var(--border-main-darker);
    height: .05rem;
    margin: .4rem 0;
    text-align: center;
    overflow: unset;
}

.divider[data-content] {
    margin: .8rem 0;
}

.divider-vert {
    display: block;
    padding: .8rem;
}

.divider-vert[data-content]::after,
.divider[data-content]::after {
    background: var(--bg-main);
    color: var(--text-light);
    content: attr(data-content);
    display: inline-block;
    font-size: 0.9rem;
    padding: 0 .4rem;
    transform: translateY(-.85rem);
}

.divider-vert::before {
    border-left: .05rem solid var(--border-main-darker);
    bottom: .4rem;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: .4rem;
    transform: translateX(-50%);
}

.divider-vert[data-content]::after {
    left: 50%;
    padding: .2rem 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}
