.notification {
    background-color: var(--grey-lightest);
    border-radius: var(--radius-large);
    position: relative;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
    pointer-events: none;
}

.notification > .delete {
    right: .5rem;
    position: absolute;
    top: .5rem;
    pointer-events: bounding-box;
}

.notification > p {
    padding: 0;
    margin: 0;
}
