/* absolute widths */
.has-width-1rem {
    width: 1rem !important;
}

.has-width-2rem {
    width: 2rem !important;
}

.has-width-3rem {
    width: 3rem !important;
}

.has-width-4rem {
    width: 4rem !important;
}

.has-width-5rem {
    width: 5rem !important;
}

.has-width-6rem {
    width: 6rem !important;
}

.has-width-8rem {
    width: 8rem !important;
}

.has-width-10rem {
    width: 10rem !important;
}

.has-width-15rem {
    width: 15rem !important;
}

.has-width-20rem {
    width: 20rem !important;
}

.has-width-25rem {
    width: 25rem !important;
}

.has-width-30rem {
    width: 30rem !important;
}

.has-width-40rem {
    width: 40rem !important;
}


/* responsive widths */
.has-max-width-1rem {
    max-width: 1rem !important;
}

.has-max-width-2rem {
    max-width: 2rem !important;
}

.has-max-width-3rem {
    max-width: 3rem !important;
}

.has-max-width-4rem {
    max-width: 4rem !important;
}

.has-max-width-5rem {
    max-width: 5rem !important;
}

.has-max-width-6rem {
    max-width: 6rem !important;
}

.has-max-width-8rem {
    max-width: 8rem !important;
}

.has-max-width-10rem {
    max-width: 10rem !important;
}

.has-max-width-15rem {
    max-width: 15rem !important;
}

.has-max-width-20rem {
    max-width: 20rem !important;
}

.has-max-width-25rem {
    max-width: 25rem !important;
}

.has-max-width-30rem {
    max-width: 30rem !important;
}

.has-max-width-40rem {
    max-width: 40rem !important;
}


/* relative widths */
.width-75 {
    width: 75% !important;
}

.width-50 {
    width: 50% !important;
}

.width-33 {
    width: 33% !important;
}

.width-25 {
    width: 25% !important;
}

.width-full {
    width: 100% !important;
}
