@layer extras {

    .blockquote {
        display: block;
        max-width: 60ch;
        margin: var(--margin-medium) auto;
        padding: var(--pad-vert) var(--pad-horz);

        break-inside: avoid;
        border-left: 0.3rem solid var(--primary);
        background-color: var(--bg-component);
    }

    .blockquote > blockquote {
        color: var(--text-darker);
        font-size: var(--size-5);
        font-weight: var(--weight-medium);
        font-family: var(--family-serif), serif;
        line-height: var(--line-height-150);
    }

    .blockquote > figcaption {
        padding: var(--pad-vert) var(--pad-horz);

        font-family: var(--family-sans-serif), sans-serif;
        font-size: var(--size-6);
        line-height: var(--line-height-125);
        text-align: left;
    }

    .blockquote > figcaption::before {
        content: "— ";
    }

    .blockquote > figcaption > cite {
        display: block;
        font-style: italic;
        font-weight: var(--weight-normal);
        text-indent: 2ch;
    }

    @media screen and (max-width: 576px) {
        .blockquote {
            max-width: 100%;
        }

        .blockquote > figcaption cite {
            display: block;
            padding-left: 1rem;
        }
    }
}
