
.has-width-1rem {
    width: 1rem ;
}

.has-width-2rem {
    width: 2rem ;
}

.has-width-3rem {
    width: 3rem ;
}

.has-width-4rem {
    width: 4rem ;
}

.has-width-5rem {
    width: 5rem ;
}

.has-width-6rem {
    width: 6rem ;
}

.has-width-8rem {
    width: 8rem ;
}

.has-width-10rem {
    width: 10rem ;
}

.has-width-15rem {
    width: 15rem ;
}

.has-width-20rem {
    width: 20rem ;
}

.has-width-25rem {
    width: 25rem ;
}

.has-width-30rem {
    width: 30rem ;
}

.has-width-40rem {
    width: 40rem ;
}

.width-75 {
    width: 75%;
}

.width-50 {
    width: 50%;
}

.width-33 {
    width: 33%;
}

.width-25 {
    width: 25%;
}

.width-full {
    width: 100%;
}
