:root {

    /* Key Break Points - from bulma.io */
    /* Note:  @media cannot use var() values!! */



    --gap: 32px;        /* The container horizontal gap, which acts as the offset for breakpoints */
    --double-gap: 64px;

    --gutter: 1.5rem;   /* grid column gutter

    /* 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16 */
    --mobile: 575px;
    --tablet: calc(769px - var(--double-gap));          /* 769px container - 4rem = 705px */
    --desktop: calc(1024px - var(--double-gap));         /* 960px container - 4rem = 1023px */
    --widescreen: calc(1344px - var(--double-gap));     /* 1152px container - 4rem = 1216px */

    /*--fullhd: calc(1344px - var(--double-gap));         /* 1344px container - 4rem = 1408px */


    /*
    --mobile: 575px;
    --tablet: 769px;
    --desktop: 1024px;
    --widescreen: 1400px;
     */


    /* Typography */
    --base-font-size: 16px;

    --family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    --family-serif: "Georgia", "Times";
    --family-monospace: monospace;
    --render-mode: optimizeLegibility;

    --weight-light: 300;
    --weight-normal: 400;
    --weight-medium: 500;
    --weight-semibold: 600;
    --weight-bold: 700;

    --text-light: var(--grey);
    --text-lighter: var(--grey-dark);
    --text: var(--grey-darker);
    --text-stronger: var(--black-ter);
    --text-invert: var(--white);
    --text-invert-stronger: var(--white-ter);


    /* sizing pattern - typically for text*/
    --size-1: 2.25rem;
    --size-2: 2rem;
    --size-3: 1.75rem;
    --size-4: 1.5rem;
    --size-5: 1.25rem;
    --size-6: 1rem;
    --size-7: 0.8rem;

    /* text line heights to match size */
    --line-height-125: 125%;
    --line-height-150: 150%;
    --line-height-175: 175%;
    --line-height-200: 200%;


    /* Spacing values */
    --space-0: 0;
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 0.75rem;
    --space-4: 1rem;
    --space-5: 1.5rem;
    --space-6: 3rem;

    /* padding values */
    --pad-horz-sm: 0.5rem;
    --pad-horz: 0.75rem;
    --pad-horz-med: 1rem;
    --pad-horz-large: 1.25rem;

    --pad-vert-sm: 0.25rem;
    --pad-vert: 0.5rem;
    --pad-vert-med: 0.75rem;
    --pad-vert-large: 1rem;

    --padding: 0.75rem;
    --padding-medium: 1rem;
    --padding-large: 1.25rem;
    --padding-wide: 1.5rem;

    /* margin values */
    --mar-horz-sm: 0.25rem;
    --mar-horz: 0.5rem;
    --mar-horz-med: 0.75rem;
    --mar-horz-large: 1rem;

    --mar-vert-sm: 0.25rem;
    --mar-vert: 0.5rem;
    --mar-vert-med: 0.75rem;
    --mar-vert-med2: 1rem;
    --mar-vert-large: 1.5rem;

    --mar-neg: -0.5rem;
    --mar-neg-75: -0.75rem;
    --mar-neg-125: -1.25rem;
    --mar-neg-large: -1.5rem;


    /* Miscellaneous */
    --radius-small: 2px;
    --radius: 4px;
    --radius-large: 6px;
    --radius-rounded: 10000px;

    --speed: 86ms;
    --easing: ease-out;

    --navbar-height: 3.25rem;
    --navbar-offset: 0;

    --shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
    --ggs: 1; /* svg icon scaler */
}
