.has-ribbon,
.has-ribbon-left,
.has-ribbon-bottom
{
    position: relative;
}

.has-ribbon-left .ribbon {
    right: auto;
    left: 0;
    border-left: none;
    border-right: 0.1rem solid var(--bg-main-ter);
}

.has-ribbon-bottom .ribbon {
    top: auto;
    bottom: 0.5em;
}

.ribbon {
    background-color: var(--bg-main-ter);
    border: 0.1rem solid var(--bg-main-ter);
    border-right: none;
    color: var(--text);
    font-size: var(--size-6);
    justify-content: center;
    padding-left:  var(--pad-horz);
    padding-right: var(--pad-horz);
    text-align: center;
    white-space: nowrap;
    position: absolute;
    top: 0.5em;
    right: 0;
    font-weight: var(--weight-normal);
    z-index: 2;
}

.ribbon.has-shadow {
    box-shadow: var(--shadow);
    right: -0.25rem;
}

.ribbon.is-small {
    font-size: var(--size-7);
}
.ribbon.is-medium {
    font-size: var(--size-5);
}
.ribbon.is-large {
    font-size: var(--size-4);
}
.ribbon.is-outlined {
    background-color: transparent;
}
