<footer class="page-footer">

    <div class="is-medium">
        <p class="foot-heading icon-nav-horz">
            <img src="{{site.url}}/img/goldi3-logo.png" class="icon" alt="Project Logo">
            <span>Goldilocks-CSS</span>
        </p>

        <p>Designed and built for the overworked Product Manager who needs to get a product into the customers hands on time.</p>

        <p>Code licensed <a href="https://github.com/zaphodbb-pm/goldilocks-css/blob/master/LICENSE.txt" title="MIT License">MIT</a>
            <br/>
            Website content <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" title="CC">CC BY 4.0.</a>
            <br/>
            Currently V0.1.0
        </p>
    </div>

    <div>
        <p class="foot-heading">Guides</p>
        <a href="{{ site.url }}/_pages/home.html">Home</a>
        <a href="{{ site.url }}/_pages/get-started/installations.html">Installation</a>
    </div>

    <div>
        <p class="foot-heading">Community</p>
        <a href="https://github.com/zaphodbb-pm/goldilocks-css">Github</a>
        <a href="https://github.com/zaphodbb-pm/goldilocks-css/issues">Issues</a>
    </div>

</footer>
