<footer class="page-footer" id="page-footer-top">

    <h2 hidden>Placebo</h2>

    <section class="is-medium">
        <h3 class="icon-nav-horz">
            <img src="{{site.url}}/img/goldi3-logo.png" class="icon" alt="Project Logo">
            <span>Goldilocks-CSS</span>
        </h3>

        <p>Designed and built for the overworked Product Manager who needs to get a product into the customers hands on time.</p>

        <p>Code licensed <a href="https://github.com/zaphodbb-pm/goldilocks-css/blob/master/LICENSE.txt" title="MIT License">MIT</a>
            <br/>
            Website content <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" title="CC">CC BY 4.0.</a>
            <br/>
            Currently V0.1.0
        </p>
    </section>

    <section>
        <h3>Links</h3>
        <a href="/">Home</a>
    </section>

    <section>
        <h3>Guides</h3>
        <a href="#page-footer-top">Get Started</a>
    </section>

    <section>
        <h3>Community</h3>
        <a href="https://github.com/zaphodbb-pm/goldilocks-css">Github</a>
        <a href="https://github.com/zaphodbb-pm/goldilocks-css/issues">Issues</a>
    </section>

</footer>
