<nav class="page-sidenav" aria-label="Extended Side Bar Navigation">
    <div class="sidenavs">
        {% include main_page/home-link.liquid %}
        {% include sidenavs/get-started.liquid %}
        {% include sidenavs/core-layout.liquid %}
        {% include sidenavs/core-elements.liquid %}
        {% include sidenavs/core-helpers.liquid %}
        {% include sidenavs/extend-elements.liquid %}
        {% include sidenavs/extend-components.liquid %}
        {% include sidenavs/extras-elements.liquid %}
        {% include sidenavs/extras-components.liquid %}
    </div>
</nav>
