<div id="page-main-nav" class="page-main-nav">
    <div class="navbar is-primary has-sidebar" role="region" aria-label="Main Navbar">
        <div class="navbar-left">
            {% include main_page/site-main-slide-bar.liquid %}

            <a href="{{site.url}}/pages/home.html">
                <img src="{{site.url}}/img/goldi3-logo.png" height="128" width="128" alt="Project Logo to Home">
            </a>
        </div>

        <div class="navbar-right">
            <nav aria-label="Secondary Actions">
                <ul>
                    <li>
                        <a class="button is-secondary has-hover" href="https://github.com/zaphodbb-pm/goldilocks-css/archive/refs/heads/master.zip" rel="nofollow" aria-label="Download">
                            <span class="icon-bg-cloud-download"></span>
                            <span>DownLoad</span>
                        </a>
                    </li>

                    <li>
                        <a class="icon-nav" href="https://github.com/zaphodbb-pm/goldilocks-css" target="_blank" rel="nofollow" aria-label="link to github">
                            <span class="icon-bg-github"></span>
                        </a>
                    </li>

                    <li>
                        <a class="button is-tertiary has-hover" href="#page-main-nav">
                            <span>Top</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
