<div class="widgetbar page-widgets">

    <form class="widgetbar-radios">
        <span>Theme</span>

        <fieldset>
            <label aria-label="Select light / day mode">
                <input type="radio" name="heading-sizes" checked onchange="setTheme('Light')">
                <svg class="icon"><use href="#icon-day"></use></svg>
            </label>

            <label aria-label="Select dark / night mode">
                <input type="radio" name="heading-sizes" onchange="setTheme('Dark')">
                <svg class="icon"><use href="#icon-night"></use></svg>
            </label>
        </fieldset>
    </form>

    <script>
        function setTheme(theme){
            if(theme === "Dark"){
                document.body.classList.add('main-theme-dark');
            }else{
                document.body.classList.remove('main-theme-dark');
            }
        }
    </script>

    <form class="widgetbar-radios">
        <fieldset aria-label="Select normal text size">
            <label>
                <input type="radio" name="text-sizes" checked onchange="setTextSize('1')"><span>T1</span>
            </label>

            <label aria-label="Select 1.5 times text size">
                <input type="radio" name="text-sizes" onchange="setTextSize('1.5')"><span>T2</span>
            </label>

            <label aria-label="Select 2.25 times text size">
                <input type="radio" name="text-sizes" onchange="setTextSize('2.25')"><span>T3</span>
            </label>
        </fieldset>
    </form>

    <script>
        function setTextSize(size){
            document.querySelector(':root').style.setProperty("--base-scale", size);
        }
    </script>
</div>
