<div class="widgetbar page-widgets">

    <form class="widgetbar-radios">
        <span>Theme</span>

        <label>
            <input type="radio" name="heading-sizes" checked onchange="setTheme('Light')" title="Select light / day mode">
            <svg class="icon"><use href="#icon-day"></use></svg>
        </label>

        <label>
            <input type="radio" name="heading-sizes" onchange="setTheme('Dark')" title="Select dark / night mode">
            <svg class="icon"><use href="#icon-night"></use></svg>
        </label>
    </form>

    <script>
        function setTheme(theme){
            if(theme === "Dark"){
                document.body.classList.add('main-theme-dark');
            }else{
                document.body.classList.remove('main-theme-dark');
            }
        }
    </script>

    <form class="widgetbar-radios">
        <label>
            <input type="radio" name="text-sizes" checked onchange="setTextSize('1')" title="Select normal text size">
            <span>T1</span>
        </label>

        <label>
            <input type="radio" name="text-sizes" onchange="setTextSize('1.5')" title="Select 1.5 times text size">
            <span>T2</span>
        </label>

        <label>
            <input type="radio" name="text-sizes" onchange="setTextSize('2.25')" title="Select 2.25 times text size">
            <span>T3</span>
        </label>
    </form>

    <script>
        function setTextSize(size){
            document.querySelector(':root').style.setProperty("--base-scale", size);
        }
    </script>
</div>
