<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Goldilocks CSS</title>
    <meta name="description" content="Lightweight CSS framework">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="favicon.ico">

    <link rel="stylesheet" href="../css/core/base/initial-colors.css">
    <link rel="stylesheet" href="../css/core/base/initial-variables.css">
    <link rel="stylesheet" href="../css/core/base/setup_base_html.css">

    <link rel="stylesheet" href="../css/core/base_helpers/backgrounds.css">
    <link rel="stylesheet" href="../css/core/base_helpers/element-colors.css">
    <link rel="stylesheet" href="../css/core/base_helpers/heights.css">
    <link rel="stylesheet" href="../css/core/base_helpers/shadows.css">
    <link rel="stylesheet" href="../css/core/base_helpers/widths.css">

    <link rel="stylesheet" href="../css/core/layout/page.css">
    <link rel="stylesheet" href="../css/core/layout/box.css">
    <link rel="stylesheet" href="../css/core/layout/flexbox.css">
    <link rel="stylesheet" href="../css/core/layout/level.css">
    <link rel="stylesheet" href="../css/core/layout/footer.css">

    <link rel="stylesheet" href="../css/core/elements/buttons.css">
    <link rel="stylesheet" href="../css/core/elements/delete.css">
    <link rel="stylesheet" href="../css/core/elements/image.css">
    <link rel="stylesheet" href="../css/core/elements/table.css">
    <link rel="stylesheet" href="../css/core/elements/typography.css">

    <link rel="stylesheet" href="../css/core/components/navbar.css">

</head>

<body class="page-wrapper" id="page-top">

    <nav class="navbar is-primary main-nav" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#page-top">
                <img src="/images/yoga1.png" width="16" height="16" alt="">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Home
                </a>

                <a class="navbar-item">
                    Documentation
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <button class="is-warning">
                            <strong>Button</strong>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <nav class="sidenav">
        <ul>
            <li><a href="{{ "index.html" | absolute_url }}">Home</a></li>
            <li><a href="{{ "/pages/about.html" | absolute_url }}">About</a></li>
            <li><a href="{{ "/pages/about.html" | absolute_url }}">Another</a></li>
        </ul>

    </nav>

    <main class="content">
        {{ content }}
    </main>

    <footer class="main-footer">footer</footer>


<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->

<!--
<script>
  window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
  ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async></script>
-->
</body>

</html>
