<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Goldilocks CSS</title>
    <meta name="description" content="Lightweight CSS framework">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="favicon.ico">

    <link rel="stylesheet" href="css/files_core.css">
    <!--
    <link rel="stylesheet" href="css/core/base/initial-colors.css">
    <link rel="stylesheet" href="css/core/base/initial-variables.css">
    <link rel="stylesheet" href="css/core/base/setup_base_html.css">
    -->

    <link rel="stylesheet" href="css/core/base_helpers/backgrounds.css">
    <link rel="stylesheet" href="css/core/base_helpers/element-colors.css">
    <link rel="stylesheet" href="css/core/base_helpers/heights.css">
    <link rel="stylesheet" href="css/core/base_helpers/shadows.css">
    <link rel="stylesheet" href="css/core/base_helpers/spacing.css">
    <link rel="stylesheet" href="css/core/base_helpers/widths.css">

    <link rel="stylesheet" href="css/core/layout/box.css">
    <link rel="stylesheet" href="css/core/layout/flexbox.css">
    <link rel="stylesheet" href="css/core/layout/footer.css">
    <link rel="stylesheet" href="css/core/layout/gridbox.css">
    <link rel="stylesheet" href="css/core/layout/level.css">
    <link rel="stylesheet" href="css/core/layout/page.css">

    <link rel="stylesheet" href="css/core/elements/buttons.css">
    <link rel="stylesheet" href="css/core/elements/delete.css">
    <link rel="stylesheet" href="css/core/elements/image.css">
    <link rel="stylesheet" href="css/core/elements/table.css">
    <link rel="stylesheet" href="css/core/elements/typography.css">

    <link rel="stylesheet" href="css/core/components/breadcrumb.css">
    <link rel="stylesheet" href="css/core/components/form.css">
    <link rel="stylesheet" href="css/core/components/navbar.css">


    <link rel="stylesheet" href="css/extras/components/accordians.css">
    <link rel="stylesheet" href="css/extras/components/card.css">
    <link rel="stylesheet" href="css/extras/components/carousel.css">
    <link rel="stylesheet" href="css/extras/components/carousel-advanced.css">
    <link rel="stylesheet" href="css/extras/components/dropdown.css">
    <link rel="stylesheet" href="css/extras/components/modal.css">
    <link rel="stylesheet" href="css/extras/components/pagination.css">
    <link rel="stylesheet" href="css/extras/components/sidebar.css">
    <link rel="stylesheet" href="css/extras/components/sidenav.css">
    <link rel="stylesheet" href="css/extras/components/tabs.css">
    <link rel="stylesheet" href="css/extras/components/tabsgrid.css">

    <link rel="stylesheet" href="css/extras/elements/avatar.css">
    <link rel="stylesheet" href="css/extras/elements/badge.css">
    <link rel="stylesheet" href="css/extras/elements/borders.css">
    <link rel="stylesheet" href="css/extras/elements/divider.css">
    <link rel="stylesheet" href="css/extras/elements/icons.css">
    <link rel="stylesheet" href="css/extras/elements/media.css">
    <link rel="stylesheet" href="css/extras/elements/message.css">
    <link rel="stylesheet" href="css/extras/elements/notification.css">
    <link rel="stylesheet" href="css/extras/elements/popover.css">
    <link rel="stylesheet" href="css/extras/elements/progress_bar.css">
    <link rel="stylesheet" href="css/extras/elements/ribbon.css">
    <link rel="stylesheet" href="css/extras/elements/tag.css">
    <link rel="stylesheet" href="css/extras/elements/tooltip.css">

</head>

<body>

<div class="page-wrapper" id="page-top">

    <nav class="navbar main-nav" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#page-top">
                <img src="img/goldi2-logo.png" alt="Project Logo">
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item">
                    <h1 class="m-0">Goldilocks-CSS</h1>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <button class="is-primary mr-3">
                        <a href="#page-top">Download</a>
                    </button>

                    <button class="is-primary">
                        <a href="#page-top">View on Github</a>
                    </button>
                </div>
            </div>
        </div>
    </nav>

    <nav class="sidenav-items">
        <ul class="sidenavs">
            <li class="sidenav">
                <input type="checkbox" id="chck1">
                <label class="sidenav-label" for="chck1">Item 1</label>
                <ul class="sidenav-content">
                    <li><a href="#page-top">Home</a></li>
                    <li><a href="#page-top">About</a></li>
                    <li><a href="#page-top">Another</a></li>
                </ul>
            </li>

            <li class="sidenav">
                <input type="checkbox" id="chck2">
                <label class="sidenav-label" for="chck2">Item 2</label>
                <ul class="sidenav-content">
                    <li><a href="#page-top">Home</a></li>
                    <li><a href="#page-top">About</a></li>
                    <li><a href="#page-top">Another</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <main class="main-content">
        {{ content }}
    </main>

    <footer class="main-footer">footer</footer>

</div>


<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->

<!--
<script>
  window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
  ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async></script>
-->
</body>

</html>
