<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Goldilocks CSS</title>
    <meta name="description" content="Lightweight CSS framework">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="favicon.ico">

    <link rel="stylesheet" href="css/files_core.css">
    <link rel="stylesheet" href="css/files_extras.css">
</head>

<body>

<div class="page-wrapper" id="page-top">

    <nav class="navbar main-nav" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#page-top">
                <img src="img/goldi2-logo.png" alt="Project Logo">
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item">
                    <p class="is-size-2 m-0">Goldilocks-CSS</p>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <button class="is-primary mr-3">
                        <a href="#page-top">Download</a>
                    </button>

                    <button class="is-primary">
                        <a href="#page-top">View on Github</a>
                    </button>
                </div>
            </div>
        </div>
    </nav>

    <nav class="sidenav-items">
        <ul class="sidenavs">
            <li class="sidenav">
                <input type="checkbox" id="chck1">
                <label class="sidenav-label" for="chck1">Item 1</label>
                <ul class="sidenav-content">
                    <li><a href="#page-top">Home</a></li>
                    <li><a href="#page-top">About</a></li>
                    <li><a href="#page-top">Another</a></li>
                </ul>
            </li>

            <li class="sidenav">
                <input type="checkbox" id="chck2">
                <label class="sidenav-label" for="chck2">Item 2</label>
                <ul class="sidenav-content">
                    <li><a href="#page-top">Home</a></li>
                    <li><a href="#page-top">About</a></li>
                    <li><a href="#page-top">Another</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <main class="main-content">
        {{ content }}
    </main>

    <footer class="main-footer">footer</footer>

</div>


<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->

<!--
<script>
  window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
  ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async></script>
-->
</body>

</html>
