.breadcrumb {
    font-size: 1rem;
    white-space: nowrap;
}

.breadcrumb a {
    align-items: center;
    color: var(--link);
    display: flex;
    justify-content: center;
    padding: 0 var(--pad-horz);
    text-decoration: none;
}

.breadcrumb a:hover {
    color: var(--text-stronger);
}

.breadcrumb li {
    list-style: none;
    text-indent: 0;
    align-items: center;
    display: flex;
    padding-right: 0;
    padding-left: 0;
}

.breadcrumb li:first-child a {
    padding-left: 0;
}

.breadcrumb li.is-active a {
    color: var(--link-dark);
    cursor: default;
    pointer-events: none;
}

.breadcrumb li + li::before {
    color: var(--text-lighter);
    content: "\0002f";
}

.breadcrumb ul,
.breadcrumb ol {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.breadcrumb .icon:first-child {
    margin-right: var(--mar-horz);
}

.breadcrumb .icon:last-child {
    margin-left: var(--mar-horz);
}

.breadcrumb.is-centered ol,
.breadcrumb.is-centered ul {
    justify-content: center;
}

.breadcrumb.is-right ol,
.breadcrumb.is-right ul {
    justify-content: flex-end;
}

.breadcrumb.is-small {
    font-size: var(--size-7);
}

.breadcrumb.is-medium {
    font-size:var(--size-5);
}

.breadcrumb.is-large {
    font-size: var(--size-4);
}

.breadcrumb.has-arrow-separator li + li::before {
    content: "\02192";
}

.breadcrumb.has-bullet-separator li + li::before {
    content: "\02022";
}

.breadcrumb.has-dot-separator li + li::before {
    content: "\000b7";
}

.breadcrumb.has-succeeds-separator li + li::before {
    content: "\0227B";
}
