
.carousel-wrapper {
    display: grid;
    place-items: center;
    background: var(--bg-main-ter);
    margin: var(--mar-vert-large) 0;
    padding: 0 var(--pad-horz);
}

.carousel {
    background: var(--bg-main-ter);
    overflow-y: scroll;
    width: 100%;
}

.carousel > * {
    grid-column: 1 / -1;
}

.carousel-items {
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: 0.5rem;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    grid-auto-columns: minmax(10rem, 1fr);
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    margin: var(--mar-vert) 0;
    padding-bottom: 1rem;
}

.carousel-items:before,
.carousel-items:after {
    content: '';
    width: 0.75rem;
}


.carousel-items > li,
.item {
    scroll-snap-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: var(--radius);
}

.carousel-items .item img{
    height: 100%;
    object-fit: contain;
}

.no-scrollbar {
    scrollbar-width: none;
    padding-bottom: 0;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
