.pagination {
    font-size: var(--size-6);
    margin: var(--mar-vert-large) 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pagination.is-centered {
    justify-content: center;
}

.pagination.is-right {
    justify-content: flex-end;
}

.pagination.is-small {
    font-size: var(--size-7);
}

.pagination.is-medium {
    font-size: var(--size-5);
}

.pagination.is-large {
    font-size: var(--size-4);
}


.pagination-link {
    -webkit-appearance: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    color: var(--text);
    cursor: pointer;
    margin: 0 var(--mar-horz);

    height: 2.5em;
    min-width: 2.5em;
    border: 1px solid var(--border-main-darker);
    border-radius: var(--radius);
    box-shadow: none;
}


.pagination.is-rounded .pagination-link {
    border-radius: 9999px;
}

.pagination-link:hover {
    border-color: var(--link);
    color: var(--text-stronger);
}

.pagination-link:focus {
    border-color: var(--link-dark);
}

.pagination-link:active {
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
}

.pagination-link[disabled] {
    background-color: var(--grey-lightest);
    border-color: var(--grey-lightest);
    box-shadow: none;
    color: var(--text-lighter);
    opacity: 0.5;
}


.pagination-link.is-current {
    background-color: var(--link);
    border-color: var(--link);
    color: var(--text-invert);
}

.pagination-ellipsis {
    color: var(--text-lighter);
    pointer-events: none;
    position: relative;
    top: -0.25rem;
}

@media screen and (max-width: 768px) {
    .pagination {
        flex-wrap: wrap;
    }

    .pagination.is-medium {
        font-size: var(--size-6);
    }

    .pagination.is-large {
        font-size: var(--size-5);
    }

    .pagination .pagination-list {
        flex-grow: 1;
        flex-shrink: 1;
        width: 100%;
        margin: var(--mar-vert-med) 0 0 0;
    }
}
