#sidebarMenu {
    position: absolute;
    top: calc(var(--navbar-height) + 0.25rem);
    left: 0;
    width: 15rem;
    transform: translateX(-30rem);
    transition: transform 250ms ease-in-out;
    background: var(--bg-main-bis);

    max-height: calc(100vh - var(--navbar-height) );
    overflow-y: scroll;
}

.sidebarMenuInner{
    margin:0;
    padding:0;
}

.sidebarMenuInner li{
    list-style: none;
    color: var(--text);
    font-weight: var(--weight-semibold);
    padding: var(--pad-vert) var(--pad-horz);
    cursor: pointer;
    margin: 0;
    text-indent: 0;
}

.sidebarMenuInner li:hover{
    background-color: var(--grey-lightest);
}

.sidebarMenuInner li a{
    font-weight: var(--weight-semibold);
    cursor: pointer;
    text-decoration: none;
    max-width: 15rem;
}


input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX( calc(var(--navbar-offset) - 2 * var(--pad-horz) )  );
}


input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}


/* hamburger animation */
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;

    left: 1rem;
    height: 1rem;
    width: 1.5rem;
    z-index: 31;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: currentColor;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}


@media screen and (max-width: 768px) {
    .navbar-item.sidebarMenu {
        display: block;

        color: currentColor;
        line-height: 1.5;
        padding: var(--pad-vert) var(--pad-horz);
        position: relative;
        margin-left: auto;
        align-self: center;
    }

    .sidebarIconToggle {
        display: block;
    }

    #sidebarMenu {
        top: calc(var(--navbar-height) - 0.5rem - 2px);
        transform: translateX(20rem);
    }

    input[type="checkbox"]:checked ~ #sidebarMenu {
        transform: translateX( -12rem  );

        right: 0;
        text-align: right;
    }
}
