@layer layout {

    .box,
    .box-shadow {
        background-color: var(--bg-container);
        color: var(--text);
        display: block;
        padding: var(--padding-normal);
        height: auto;
        width: calc(100% - 2 * var(--padding-normal));
        border: none;
    }

    .box-shadow {
        border-radius: var(--radius);
        box-shadow: var(--shadow-container);
        border: 1px solid var(--border-main-light);
    }
}