/** add flex box manipulation */
.is-flex {
    display: flex !important;
}

.is-flex-grow {
    display: flex !important;
}

.is-flex-grow > * {
    flex-grow: 1;
}

.flex-row {
    flex-direction: row !important;
}

.flex-row-reverse {
    flex-direction: row-reverse !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex-row-column {
    flex-direction: column-reverse !important;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-baseline {
    align-items: baseline;
}

.align-items-stretch {
    align-items: stretch;
}


.justify-content-start {
    justify-content: start !important;
}

.justify-content-flex-start {
    justify-content: flex-start !important;
}

.justify-content-end {
    justify-content: end !important;
}

.justify-content-flex-end {
    justify-content: flex-end !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-around {
    justify-content: space-around !important;
}
