.page-wrapper {
    display: grid;
    column-gap: 0;
    row-gap: 0;

    grid-template-columns: auto 4fr;
    grid-template-rows: auto auto auto auto;

    grid-template-areas:    "main-nav main-nav"
                            "side-nav header"
                            "side-nav main-content"
                            "side-nav footer";
}

.page-wrapper > .main-nav {
    grid-area: main-nav;
}

.page-wrapper > header {
    grid-area: header;
    margin: var(--margin-elements) 0;
}

.page-wrapper > .sidenav {
    grid-area: side-nav;
}

.page-wrapper > footer {
    grid-area: footer;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

nav ul li {
    list-style: none;
    margin-bottom: 0.75rem;
}

.main-nav {
    border-bottom: 1px solid var(--border-main-darker);
    background-color: var(--bg-main-bis);
}

.sidenav-items {
    border-right: 1px solid var(--border-main);
}
