.card {
    background-color: var(--bg-component);
    border-radius: var(--radius-comp);
    box-shadow: var(--shadow);
    color: var(--text-comp);
    width: 100%;
    position: relative;
}

.card > header {
    background-color: transparent;
    padding: 1.5rem;
}

.card > header > :is(h2, h3, h4, h5, h6) {
    font-size: var(--size-5);
    color: var(--text-darker);
    font-weight: var(--weight-bold);
    margin: 0;
}

.card > header > :is(h2, h3, h4, h5, h6) + p {
    color: var(--text-light);
    font-weight: var(--weight-semibold);
}

.card > figure {
    display: block;
    position: relative;
}

.card > figure:first-child img {
    border-top-left-radius: var(--radius-comp);
    border-top-right-radius: var(--radius-comp);
}

.card > figure:last-child img {
    border-bottom-left-radius: var(--radius-comp);
    border-bottom-right-radius: var(--radius-comp);
}

.card > div {
    background-color: transparent;
    padding: 1.5rem;
}

.card > header + div {
    padding-top: 0;
}

.card > div .comment:not(:last-child) {
    margin-bottom: var(--mar-vert);
}

.card > footer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: transparent;
    border-top: 1px solid var(--border-main);
    padding: 1.5rem;
}
