.dropdown {
    display: inline-flex;
    position: relative;
    vertical-align: top;
}

.dropdown .dropdown-trigger > button:first-child,
.dropdown .dropdown-trigger button.has-hover:first-child {
    margin: 0;
    padding-right: 3rem;
}

.dropdown .dropdown-trigger button::after {
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    transition: all 0.3s;

    /* adds down chevron */
    background-color: currentColor;
    mask-image: var(--indicator-down);
    mask-repeat: no-repeat;
    -webkit-mask-image: var(--indicator-down);
    -webkit-mask-repeat: no-repeat;
}


.dropdown-menu {
    display: none;
    padding-top: 4px;
    width: max-content;
    min-width: 12rem;
    max-width: 18rem;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 40;
    background-color: var(--bg-main);
}

.dropdown:not(.is-click-open):hover .dropdown-menu,
.dropdown.is-click-open > .dropdown-trigger:focus-within  + .dropdown-menu {
    display: block;
}

.dropdown.is-right .dropdown-menu {
    left: auto;
    right: 0;
}

.dropdown.is-up .dropdown-menu {
    bottom: 100%;
    padding-bottom: var(--pad-vert);
    padding-top: initial;
    top: auto;
}

.dropdown-menu {
    background-color: var(--bg-main-comp);
    border-radius: var(--radius-comp);
    box-shadow: var(--shadow);

    padding-bottom: var(--pad-vert);
    padding-top: var(--pad-vert);
}

.dropdown-menu p {
    margin: var(--mar-vert) var(--margin);
}

.dropdown-menu button {
    margin: 1rem auto calc(1rem - var(--pad-vert)) auto;
    display: block;
}

.dropdown-menu hr {
    background-color: var(--border-main);
    border: none;
    display: block;
    height: 1px;
    margin: var(--mar-vert) 0;
}

.dropdown-menu > nav > ul {
    display: block;
}

.dropdown-menu > nav > ul > li {
    list-style: none;
    display: block;
    margin: 0;
}

.dropdown-menu > nav > ul > li > a {
    color: var(--text);
    display: block;
    font-size: 0.875rem;
    line-height: 1.5;
    padding: 0.375rem 1rem;
    position: relative;
    margin: 0;
    justify-content: left;
}

.dropdown-menu > nav > ul > li a:hover {
    background-color: var(--bg-element);
    color: var(--text-darker);
}

.dropdown-menu > nav > ul > li a.is-active {
    background-color: var(--link);
    color: var(--text-invert);
}
