@layer extended {

    .pagination {
        font-size: var(--size-6);
        width: 100%;
    }

    .pagination > ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
    }

    .pagination > ul > li {
        list-style: none;
    }

    .pagination.is-centered > ul {
        justify-content: center;
    }

    .pagination.is-right > ul {
        justify-content: flex-end;
    }

    .pagination.is-small {
        font-size: var(--size-7);
    }

    .pagination.is-medium {
        font-size: var(--size-5);
    }

    .pagination.is-large {
        font-size: var(--size-4);
    }

    .pagination > ul > li {
        order: 3;
        margin: 0;
    }

    .pagination > ul a {
        -webkit-appearance: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        color: var(--text);
        cursor: pointer;
        margin: 0 var(--mar-horz);

        height: 2.5em;
        min-width: 2.5em;
        border: 1px solid var(--border-main-darker);
        border-radius: var(--radius);
        box-shadow: none;
        text-decoration: none;
    }

    .pagination.is-rounded > ul a {
        border-radius: 9999px;
    }

    .pagination > ul a:hover {
        border-color: var(--link);
        color: var(--text-darker);
    }

    .pagination > ul a:focus {
        border-color: var(--link-dark);
    }

    .pagination > ul a:active {
        box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
    }

    .pagination > ul a[disabled] {
        background-color: var(--grey-lighter);
        border-color: var(--grey-lighter);
        box-shadow: none;
        color: var(--text-light);
        opacity: 0.5;
    }


    .pagination > ul a.is-current {
        background-color: var(--link);
        border-color: var(--link);
        color: var(--text-invert);
    }

    .pagination > ul > li > span {
        color: var(--text-light);
        pointer-events: none;
        position: relative;
        top: -0.25rem;
        order: 3;
    }

    @media screen and (max-width: 576px) {
        .pagination {
            margin-bottom: 0;
            margin-top: 0;
        }

        .pagination > ul {
            justify-content: center;
            flex-wrap: wrap;
        }

        .pagination > ul li.prev {
            order: 1;
            width: 42%;
            margin-bottom: var(--mar-vert);
            margin-right: 5%;
        }

        .pagination > ul li.next {
            order: 2;
            width: 42%;
            margin-bottom: var(--mar-vert);
        }

        .pagination > ul li.next a,
        .pagination > ul li.prev a {
            width: 100%;
            margin: 0;
        }

        .pagination.is-right {
            justify-content: center;
        }

        .pagination.is-medium {
            font-size: var(--size-6);
        }

        .pagination.is-large {
            font-size: var(--size-5);
        }
    }

}
